.span8
	include ../../patterns/calendar
.span2
	.row-fluid
		.dropdown
			btn.btn.dd-toggle(data-toggle='dropdown', data-target='#') Create an event
			ul.dropdown-menu
				li: a(data-toggle='modal', href='#calendarModal') Create an event
				li: a(data-toggle='modal', href='#calendarModal') Create a deadline
				li: a(data-toggle='modal', href='#calendarModal') Create a time period
		hr
		.span6
			mixin calendar()
			h4 Filter
			.row-fluid
				.span1(style='color: red') &#9632;
				.span5 Research
			.row-fluid
				.span1(style='color: green') &#9632;
				.span5 SickKids
			.row-fluid
				.span1(style='color: black') &#9632;
				.span5 Learning
			.row-fluid
				.span1(style='color: blue') &#9632;
				.span5 Care
	hr
	mixin todo(['This is an example to do', 'This is another example of a to do item', 'Yet another to do item'], false)