h2 What's Happening?
.row
	.span11.well
		h3: a(href='#') SickKids Raises 20K with Blue Streak!
		br
		img.pull-left(src='http://placehold.it/300x300')
		p.ipsum(length='1000', para='3')
		br
		a(href='#') Read more