include ../../patterns/mixin.jade

h4 More Headlines

mixin linkList({title: 'SickKids Campaigns', [{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'}]})
//- mixin linkList(tools)
//- mixin linkList(groups)

	//- li.nav-header SickKids Campaigns
			
	//- li.nav-header Research News
			
	//- li.nav-header Shop and Eat

