include ../../patterns/mixin.jade

h4 More Headlines

- var campaigns = {title: 'SickKids Campaigns', items: [{title: 'Campaign', address: '#'}, {title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'},{title: 'Campaign', address: '#'}]}

mixin linkList(campaigns)

- var news = {title: 'Research News', items: [{title: 'Headline', address: '#'}, {title: 'Headline', address: '#'},{title: 'Headline', address: '#'},{title: 'Headline', address: '#'},{title: 'Headline', address: '#'},{title: 'Headline', address: '#'}]}

mixin linkList(news)

- var eat = {title: 'Show & Eat', items: [{title: 'Feature', address: '#'}, {title: 'Feature', address: '#'},{title: 'Feature', address: '#'},{title: 'Feature', address: '#'},{title: 'Feature', address: '#'},{title: 'Feature', address: '#'}]}

mixin linkList(eat)

