include ../../patterns/mixin.jade

-var poll = ['This is an entry', 'This is another entry', 'isnt this fun?' ]

h3 SickKids Poll
.row-fluid
	.span11.well
		h3 What do you think of this poll?
		mixin radio(poll)