include ../../patterns/mixin.jade
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];
mixin pageTitle("What's Happening?", false)
.row
	.span8
		.well.clearfix.news-feature
			h3: a(href='#') Get fit and have fun with the Inter-Hospital Health  Challenge (see photos)
			img.pull-left(src='http://placehold.it/300x200')
			p We kicked off the Inter-Hospital Health Challenge on May 1 with the largest exercise class University Ave. has ever seen! Energetic staff from SickKids and surrounding hospitals hiked up their heart rates to star this May health challenge. Check out these happy and health people and find out how you can participate! There could be a lot more text here all about the story that would be featured.
			p.ipsum(length='100')
			p: a(href='#') Read more
		.row
			.span8
				.row-fluid
					.span6.dropdown
						a.btn.dd-toggle(data-toggle='dropdown', data-target='#') Show all &#9660;
						ul.dropdown-menu
							li: a Show all
							li: a Unread only
							li: a Favourited only
							li: a My groups only

					.span6
						.btn-group.pull-right.sub-buttons
							.btn.btn: i.icon-arrow-up
							.btn.btn: i.i.icon-arrow-down
						.btn-group.pull-right.sub-buttons
							.btn.btn: i.icon-list
							.btn.btn: i.i.icon-tasks
				.row.posts
					.span8
						.row-fluid.post
							.span1: img(src='http://placehold.it/100x100')
							.span10
								.row-fluid
									.span12: h4: a This is an expanded subscription item
									p.ipsum
								.row-fluid.post-meta
									.span6 12 minutes ago from 
										a Feed Name
									.span6
										.pull-right: mixin share()
					- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];


						-each story in Stories
							.row-fluid.post.closed
								.span1: img(src='http://placehold.it/100x100')
								.span11
									h4: a= story.title
									p.post-meta 12 minutes ago from 
										a Feed Name

	.span2
		hr
		ul.unstyled.rightNav
			li
				a All News (7000)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
			hr
			li.header: h6 Pillar:
			li
				a Research news (700)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Care news (900)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Learning news (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Support news (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			hr
			li.header: h6 Campaign:
			li
				a <img src="http://placehold.it/15x15"> Blue Ribbon (700)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a <img src="http://placehold.it/15x15"> Run for SickKids (900)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a <img src="http://placehold.it/15x15"> Flowers and Fun at SickKids (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
		.pull-right
			a Reset search