include ../../patterns/mixin.jade
include ../../patterns/submitstory_modal.jade

- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

.row
	.span8
		.row
			.span4
				mixin pageTitle("What's Happening?", false)
			.span4
				btn.btn.btn-mini.pull-right(data-toggle='modal', href='#submitStoryModal') Submit a Story
		#mainNewsFeed.row.posts
			.span8
				include ../../patterns/feed
				mixin miniFeed({personal: false, noSubscribe: true, updates: [{type:'news',source:'Support',actor:'Helena Troy', title:'We raised 26K with Blue Streak!', time:'2 weeks ago'},{type:'news',source:'Care',actor:'Helena Troy', title:'SickKids in the News this Week', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Our Results Are In', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'}]})

	.span2
		h4 Filters
		ul.unstyled.rightNav
			li
				a All News (7000)
			hr
			li.header: h6 Pillar
			li
				a Research news (700)

			li
				a Care news (900)

			li
				a Learning news (300)

			li
				a Support news (300)
			li
				a Campaigns (3)
				
				- var archive = {title: 'Archive', items: [{title: '2012', address: '#'}, 		{title:'2011', address: '#'}]}

				mixin linkList(archive)
		hr
		.pull-right
			a Reset filters
