include ../../patterns/mixin.jade
mixin pageTitle("What's Happening", false)
.row
	.span8
		.well.clearfix.news-feature
			h3: a(href='#') Get fit and have fun with the Inter-Hospital Health  Challenge (see photos)
			img.pull-left(src='http://placehold.it/300x300')
			p We kicked off the Inter-Hospital Heealth Challenge on May 1 with the largest exercise class University Ave. has ever seen! Energetic staff from SickKids and surrounding hospitals hiked up their heart rates to star this May health challenge. Check out these happy and health people and find out how you can particiapte! 
			p: a(href='#') Read more
	.row
		.span8
			-var poll = {question: 'May 7 is Stop! Clean Your Hands Day. What is SickKids\' hand hygiene complaince target?', items:['This is an entry', 'This is another entry', 'isnt this fun?']}
			- var Stories =[ {title: 'SickKids is celebrating National Nursing Week!', address: 'test'}, {title: 'Stars are doing the happy for SickKids', address: 'test'} , {title: 'Towering over Bay and Elm, SickKids Centre for Research and Learning reaches highest point (see video)', address: 'test'}, {title: 'Can you tell me how to get, how to get to.. Marnie\'s Lounge! (see photos)', address: 'test'}]
			.row
				.span4
					h3 Headlines
					.well
						-each story in Stories
							.news-item
								h4
									i.icon-download-alt								
									a= story.title
								p.ipsum(length='100')
				.span4
					h3 SickKids Poll
					.well
						mixin radio(poll)
	.span2
		include links