include ../../patterns/mixin.jade

- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

mixin pageTitle("What's Happening?", false)
.row
	.span8
		.row-fluid
			.span6
				.btn-group.pull-left.sub-buttons
					.btn.btn: i.icon-arrow-up
					.btn.btn: i.i.icon-arrow-down
				.btn-group.pull-left.sub-buttons
					.btn.btn: i.icon-list
					.btn.btn: i.i.icon-tasks
			.span6
				.dropdown.pull-right
					a.btn.dd-toggle(data-toggle='dropdown', data-target='#') Sort by &#9660;
					ul.dropdown-menu
						li: a Newest
						li: a Oldest
						li: a Alphabetically

		.row.posts
			.span8
				include ../../patterns/feed
				mixin miniFeed({personal: false, noSubscribe: true, updates: [{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'news',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'}]})

	.span2
		hr
		ul.unstyled.rightNav
			li
				a All News (7000)
			hr
			li.header: h6 Pillar:
			li
				a Research news (700)

			li
				a Care news (900)

			li
				a Learning news (300)

			li
				a Support news (300)
			li
				a Campaigns (3)

		.pull-right
			a Reset search