- var Groups = [ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];
h4 Groups
- each group in Groups
	.row-fluid
		.span1: i.icon-folder-open
		.span8: a(href='#')= group.title
		.span3 6 documents