include ../../patterns/mixin.jade
mixin pageTitle("Documents", false)
- var groupSidebar = {items: [{title: 'SickKids Cyclist (5)', address: '#'}, {title: 'Pediatrics (2)', address: '#'},{title: 'Lunch n Learns (20)', address: '#'}]}
.row
	.span8
		include ../../patterns/documents
	.span3
		.dropdown
			btn.btn.dd-toggle(data-toggle='dropdown', data-target='#') Create &#9660;
			ul.dropdown-menu
				li: a Document
				li: a Spreadsheet
				li: a Interactive form
				li: a Collaborative document
				li: a Upload a document
				li.divider
				li: a Create a collection
		hr
		ul.unstyled
			li: a My docs (94)
			li: a All docs (500+) 
			hr
			h6 Filters
			mixin form({ title: 'Test', fields: [ { label: 'Document', type: 'checkbox'},{label: 'Spreadsheet', type: 'checkbox'},{label: 'Interactive Form', type: 'checkbox'},{label: 'Collaborative Document', type: 'checkbox'},{label: 'Uploaded Document', type: 'checkbox'}]})
			h6 Categories
			li: a &#9660; Group collections (3)
				li.indent: mixin linkList(groupSidebar)
			li: a &#9654; My collections(5)