include ../../patterns/mixin

small 
	a(href='#research') Research Institute
	|  / 
	a(href='#financial') Financial Services
	|  / 
	a(href='#grantsmanagement') Grants Management
	|  / 
	a(href='#nihgrant') NIH Grant

.pull-right
	mixin share()

mixin pageTitle("NIH Grant", false)
.row
	.span8
		.pull-right
			ul.nav.nav-list.well.span3
				li.nav-header Test
				li: a.anchor(href='#header1') Header 1
				li: a.anchor(href='#header2') Header 2
				li: a.anchor(href='#header3') Header 3
				li: a(href='#nihgrant') External link 1
				li: a(href='#nihgrant') External link 2
		h4#header1 Header 1
		p.ipsum
		h4#header2 Header 2
		p.ipsum
		h4#header3 Header 3
		p.ipsum
	.span3
		include ../financial/links