h3#header1 Grants Approval Process
hr
p The Grants Management Office (GMO) is a resource for researchers and research trainees who wish to apply for external grants and awards. GMO staff can assist with the grant approval process including identifying funding resources, assisting with the budget and obtaining institutional sign-off. For the fellowship or studentship application (training award) approval process, please follow the instructions in the Research Training approval section.

h4 Grant Approval Overview

p The The researcher is responsible for completing the research grant or award application according to the established policies and guidelines of SickKids and the granting agency. SickKids also requires the researcher to obtain the signature(s) from the authorized official(s) before submitting it to the granting agency. This is known as institutional sign-off. The grant approval also applies for online submission where institutional signature may not be required by the granting agency. At least six weeks prior to the granting agency's due date, a completed Notice of Application (NOA) must be submitted to GMO. The NOA informs the Research Institute as to the researcher's intent and to plan for the receipt of the research grant.

p The researcher is responsible for coordinating the internal peer review and must ensure that the Reviewers Report form is completed and returned to GMO. GMO staff are available for assistance and advice pertaining to the grant approval process. After the applicant and program head (where required by the granting agency) sign the research grant or award application, the application package must be submitted to GMO for institutional sign-off.

p The appropriate GMO staff reviews the application file for documentation completeness prior to obtaining institutional sign-off. To avoid any unnecessary delays in the grant approval process, do not hesitate to contact GMO staff during any step of the process for assistance or clarification. For a complete application file, allow at least 72 hours notice to obtain institutional sign-off.

.well
	h5 Note:
	p For For assistance with developing the budget, contact GMO staff. Budgets in foreign currencies must be submitted to GMO for review at least two weeks prior to the due date.
	p For information pertaining to research infrastructure applications (Canada Foundation for Innovation, Genome Canada, Ontario Research Fund, Canada Research Chairs, etc.) and services offered by GRIA, visit the GRIA website.


h4 Steps to application approval

p The The following steps need to be followed for research grant or award applications to governments, foundations and other non-profit sponsors. Please note that online research grant or award applications must adhere to these requirements.

ol
	li 1. Complete and submit a signed Notice of Application form to GMO at least six weeks prior to the due date.

	li 2. Arrange internal peer review and ensure that the review committee chair returns the completed Reviewers Report form to the main applicant. The chair has the option to return the completed form to the GMO. GMO is then responsible for providing a copy with the mean score to the applicant.

	li 3. Prepare research grant or award application adhering to the instructions of the granting agency. (It is highly recommended that the applicant make use of the GMO Grant Application Checklist).

	li 4. If an institutional support letter is required by the granting agency, contact GMO staff.

	li 5. Obtain all required signatures including main applicant and the department head (where required by the granting agency) before submitting the application package to GMO for institutional sign-off. It is important that a copy of the Reviewers Report Form is attached to the research grant application for departmental (where required) and institutional sign-off. The appropriate GMO staff will contact the applicant once signed application is ready for pick-up.

	li 6. Provide a PDF or paper copy of the proposed research grant or award application (without appendices) to GMO.

mixin toTop()
h3#header2 Internal Peer Review
p Applicants must arrange an internal peer review meeting for each research grant or award application. Only the Chief of Research can waive the internal peer review requirement. Review policy for internal peer review exemptions.

p Follow the steps outlined below to coordinate an internal peer review meeting. Contact the appropriate GMO staff if you have any questions or require assistance in any step of the process
ul
	li 1. Identify a committee of appropriate reviewers early. If you need assistance in identifying potential reviewers, contact the appropriate GMO staff. For clinical studies/trials, contact the Clinical Research Office.
	li.header The prescribed number of peer reviewers is as follows:
	li 1. three for budgets ≥ $70,000 a year;
	li 2. minimum of two for budgets ≥ $30,000 and < $70,000 a year;
	li 3. no review requirement for projects with an annual budget of less than $30,000 (except for University of Toronto sponsored grants, minimum of two reviewers < $70,000).
.well Note: For senior scientists and senior associate scientists, research grants with annual budgets of less than $50,000 are exempt from internal peer review.
ol
	li 2. The applicant must coordinate a meeting to take place at least seven days prior to the due date. Activities include: contacting the reviewers, confirming time and date with the applicant(s) and the reviewers and booking a meeting room.

h4 Tips for selecting internal peer reviewers:
ul
	li select reviewers with expertise in the methodology and field of study (choose an expert);
	li select reviewers that are familiar with the granting agency;
	li on external (non-SickKids) reviewer is permitted where appropriate;
	li for a clinical study, the expertise of the reviewers must include all the disciplines represented in the proposal;
	li for a clinical trial application, one of the reviewers should have expertise in clinical trial methodology.

	li 3. Select a committee chair and prepare the application package for reviewers. Click here to access the appropriate Reviewers Report Form that must accompany the application package to be delivered to the chair. Each reviewer must receive a copy of the application prior to the meeting.
	li 4. Confirm the meeting with reviewers via e-mail and copy the appropriate GMO staff once you have the names of confirmed reviewers, location and the time/date of the meeting.
	li 5. Prepare the research proposal using the granting agency's forms and adhere to the format requirements. Reviewers may return the research application to the applicant for further work if it is not deemed ready for review.
	li 6. Distribute a copy of the research grant application to the committee of reviewers at least four (4) days prior to the scheduled peer review meeting. The chair's package must include a copy of the appropriate Reviewers Report Form.

h5 Guidelines for internal reviewers

ul
	li Committee members should have at least three working days to review the research grant application before meeting with the applicant.
	li The Chair directs the proceedings of the review: each member of the committee should be allowed to question the applicant on any point and make any recommendations deemed appropriate.
	li When the reviewers have finished discussing the application, the chair should complete the appropriate Reviewers Report Form. Please indicate positive suggestions and major weaknesses in the "comments" section 14. Make sure that the recommendations are clearly stated. The purpose of the internal peer review is to improve the research application. Request a revised version if necessary.
	li Rank the application on a grading scale as described on the Reviewers Report Form.
	li Return the completed form to the applicant or the appropriate GMO staff immediately following the meeting. The completed form is required to obtain departmental (where required by granting agency) and institutional sign-off.


h5 Tips to Speed up the process and avoid delays

ol
	li Start early. Review and follow the instructions issued by the granting agency.
	li Complete a Notice of Application at least six weeks prior to the granting agency's due date.
	li When developing your budget, follow the granting agency's budget guidelines and consult with GMO staff. Include salary request for researchers and indirect costs where allowable. Apply the maximum indirect cost rate established by the granting agency.
	li When developing a budget with an external collaborator where SickKids is not the lead institution, provide a copy of the budget to GMO for review before finalizing your budget.
	li Contact potential reviewers and schedule an internal peer review meeting immediately. The meeting must take place at least seven days prior to the granting agency's due date.
	li Complete the final draft at least two weeks before the due date allow at least three working days prior to scheduled meeting for reviewers to review your application.
	li Deliver your application package to GMO for institutional sign-off at least 48 hours before the due date.
	.well
		Note: A copy of successful grant application is required to assign a new cost centre number.
	li Obtain necessary approvals (humans, animals, safety) for successful research grant application. Some granting agencies may require these approvals to be obtained prior to the granting agency's review of the research grant application. (Review the granting agency's guidelines and for assistance, contact the relevant SickKids committees.)
	.well
		Note: Follow the guidelines of the granting agency pertaining to letter of intent/registration. If a letter of intent/registration is required, complete a Notice of Application and arrange an internal peer review only when submitting a full research grant application.

mixin toTop()
h3#header3 Research Training approval

em Research fellowship or studentship application (training) approval process
ol
	li Prepare research fellowship or studentship application following instructions of the granting agency.
	li Include indirect costs where allowable. For budget request in foreign currency, contact GMO for assistance.
	li Obtain all required signatures including applicant and department head, where required, before submitting the application package to GMO for institutional sign-off. GMO staff will contact the applicant once the signed application is ready for pick-up.
	li Obtain necessary approvals for funded project (i.e. humans, animals, safety).
.well
	Note: Notify the appropriate a(href='#') GMO staff if you plan to submit a research training application to a foreign granting agency or industry-sponsored foundations.
Contact the appropriate a(href='#') GMO staff if you require assistance in completing the research training application form (contact staff assigned to your supervisor).

mixin toTop()
h3#header4 Special approvals

em Regulatory approvals
p Before a research project begins, approvals are required from the relevant committees. SickKids research projects may require a mandatory training component or specialized training. Keep track of the research project's expiration and renewal dates. Any changes to an approved protocol must be reviewed and approved by the relevant committee(s) before implementing changes.

p Granting agencies may require verification of committee approval(s) prior to reviewing the research grant application. The applicant must plan ahead to provide sufficient time for processing and obtaining the necessary approval(s).
hr

em Approval for research involving human subjects:

p The SickKids a(href='#') Research Ethics Board must approve all research involving human subjects.

p For multi-stage projects where activities involving humans will only take place in the future and the research methodology is not sufficiently developed to prepare a complete ethics submission, ‘approval in principle’ must be obtained in order to release research funds for non-human subjects activities. To download the form, go to a(href='#') GMO forms. Please complete and submit a copy to the REB office for approval in principle.
hr
em Approval for research involving animals:

p The SickKids a(href='#') Animal Care Committee must approve all research involving the use of animals before starting a project involving animals.

p For multi-stage projects where activities involving animals will only take place in the future and the research methodology is not sufficiently developed to prepare a complete ethics submission, ‘approval in principle’ must be obtained in order to release research funds for non-animal experiments.  To download the form, go to a(href='#') GMO forms. Please complete and submit a copy to the ACC Coordinator for approval in principle.
hr

em Approval for research involving biohazardous materials, recombinant DNA, radioisotopes:

p Contact the a(href='#') Safety Office for assistance, information and process in obtaining approval.

mixin toTop()
h3#header5 Grants Approval Process

p Resources and Tools

em Policies
ul
	li Approval to submit Research Grant and Award
	li Principal Investigator Eligibility and Responsiblity for Research Awards and Contracts
em Templates
ul	
	li Grants Application Checklist (available in Word and Acrobat)
	li Frequently Requested Institutional Information
em Forms
ul
	li Notice of Application and Guidelines for Completion
	li Reviewers Report Form