include ../../patterns/mixin

//mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial Services', page:'financial'}, {title: 'Grants Management',page:'grantsmanagement'},{title:'Grants Approval Process'}])
.pull-right
	mixin share()

mixin pageTitle("Grants Approval Process", false)
.row
	.span8
		.subnav#subnav
				ul.nav.nav-pills
					li: a(href='#header1') The Steps
					li: a(href='#header2') Peer Review Process
					li: a(href='#header3') RTC Approval
					li: a(href='#header4') Special Approvals
					li: a(href='#header5') Tips & Tools
		.page-content
			include content
		
	.span2
		include ../financial/links