include ../../patterns/mixin.jade

h4 Important Links

- var links = {title: 'Resources', items: [{title: 'Research Programs', address: '#'}, {title: 'Research4Kids', address: '#'},{title: 'KidTrac', address: '#'}, {title: 'Human Resources', address: '#'}, {title: 'Communications and Public Affairs', address: '#'},{title: 'Shop\'n\'Swap', address: '#'}]}

mixin linkList(links)

- var groups = {title: 'Research IT', items: [{title: 'Support tickets', address: '#'}, {title: 'Software order form', address: '#'},{title: 'Research4kids login', address: '#'},{title: 'Research4kids support', address: '#'},{title: 'Community Care Access Centre', address: '#'}]}

mixin linkList(groups)

- var tools = {title: 'Instrument Booking', items: [{title: 'Flow Cytometry', address: '#'}, {title: 'Imaging Facility', address: '#'},{title: 'Research MEG', address: '#'}, {title: 'Research MRI', address: '#'}]}

mixin linkList(tools)

- var tools = {title: 'Financial Services', items: [{title: '*NEW* Scientific Peer Review for Animal Use Protocols', address: '#'}, {title: '*NEW* Recent publications from our scientific staff', address: '#'},{title: 'Update your scientific profile', address: '#'}, {title: 'Faculty Orientation', address: '#'}, {title: 'Foundation Relations', address: '#'}, {title: 'Grants opportunities and deadlines', address: '#'}]}

mixin linkList(tools)

- var tools = {title: 'Trainees Corner', items: [{title: 'Trainee news', address: '#'}, {title: 'The Training Post', address: '#'},{title: 'Enrol in safety seminars', address: '#'}]}

mixin linkList(tools)
