include ../../patterns/mixin.jade

h4 Important Links

- var groups = {title: 'General Info', items: [{title: 'Library and Archives', address: '#'}, {title: 'Interprofessional Education', address: '#'},{title: 'Education Research', address: '#'},{title: 'Simulation Education', address: '#'},{title: 'SickKids Book Series', address: '#'}]}

mixin linkList(groups)

- var tools = {title: 'Students and Academic Training', items: [{title: 'Kids Science', address: '#'}, {title: 'Summer Students - Research', address: '#'},{title: 'Undergraduate, graduate, and post graduate', address: '#'}]}

mixin linkList(tools)

- var tools = {title: 'Professional and Support Personnel', items: [{title: 'Human Resources', address: '#'}, {title: 'Orientation', address: '#'}]}

mixin linkList(tools)
