include ../../patterns/mixin

.row
	.span12
		h2 SickKids Cyclists
.row
	.span2
		img(src="http://media.treehugger.com/assets/images/2011/10/cyclists-wearing-helmets.jpg")
	.span10
		em Sports & Leisure
		br
		p Join us for a healthier way to work and home!