include ../../patterns/mixin.jade
mixin pageTitle("Discussions", false)

.row
	.span8
		.row
			.span8
				.well
					.post
						h3: a(href='#') Cardiac Care Fair
						hr.clean-fix
						btn.btn.btn-minii(type='Edit') Edit
						btn.btn.btn-mini(type='Delete') Delete
						p.post-meta By Karl Pilkington on April 19, 2012
						img.content.pull-left(src='http://pilkipedia.co.uk/wiki/images/thumb/9/90/Karlpilkington.jpg/107px-Karlpilkington.jpg', width="100", height="100")
						p Why didn't evolution make a giraffe good at carpentry so it could build a ladder? 
						p.ipsum(length="100") 
						br
						hr.clean-fix
						p.post-meta By Bob Watts on April 18, 2012
						span2
						img.content.pull-left(src="http://b.vimeocdn.com/ps/116/116909_300.jpg", width="100", height="100")
						span8
						p Interesting question, perhaps we should present this question to our colleagues in RI.
						p.ipsum(length="200") 
						hr.clean-fix
						
						
						form.form-horizontal
							textarea.input-large#feedUpdate(columns='5', placeholder="Add a comment here")
							.pull-left.btnPadding.feedbtn
						btn.btn.btn-mini(type='Comment') Comment
