include ../../patterns/mixin.jade

h4 Links

- var links = {title: 'Group Quick Links', items: [{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(links)

- var tools = {title: 'Group Tools', items: [{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(tools)