include ../../patterns/mixin

.row-fluid
	.span8
		.row-fluid
			.span12
				include description
		.row-fluid
			ul.nav.nav-pills
				li.active: a(href='#home', data-toggle="pill") Home
				li: a(href='#calendarBig', data-toggle="pill") Calendar
				li: a(href='#forum', data-toggle="pill") Forum
				li: a(href='#documents', data-toggle="pill") Documents
				li: a(href='#peopleBig', data-toggle="pill") People
				li: a(href='#tools', data-toggle="pill") Tools
		.row-fluid.tab-content
			#home.tab-pane.active
				.span6
					.well
						include forum
					.well
						include files				
				.span6.well
					include calendar
			#calendarBig.tab-pane
				include ../../patterns/calendar
			#forum.tab-pane
				include ../../patterns/forum
			#documents.tab-pane
				p Documents
			#peopleBig.tab-pane
				p People
			#tools.tab-pane
				p Tools
	.span4
		mixin share()
		include links
		include tools