include ../../patterns/mixin
include ../../patterns/list

.row
	.span8
		.row.groupprofile
			.span2
				img.pull-left(src="http://i.imgur.com/PUC9m.png")
			.span6
				a.btn.pull-right.editDetails Edit group info
				h2 Cardiac Connections
				p: em Care | Cardiology
				p Visit regularly for new and exciting updates across the program. The page will provide you with important notices, deadlines, and daily Labatt Family Heart Centre News. 
		br
		.row
			.span8
				h3 Group Information
				.row-fluid.unEditted
					.span6
						table.table.table-striped.border
							tbody
								tr 
									td Office Location
									td 180 Dundas Street West, 1624
								tr
									td Phone Number
									td (416) 869-3450
								tr
									td Administrator
									td 
										a(href='#') Karl Pilkington
					.span6
						table.table.table-striped.border
							tbody
								tr
									td Email
									td 
										a(href='mailto:alison.drabble@sickkids.ca') karl.pilkington@sickkids.ca
								tr	
									td Fax
									td (416) 999-9911
				hr
				.row
					.span8
						ul.nav.nav-pills
							li.active: a(href='#home', data-toggle="pill") Activity
							li: a(href='#calendar', data-toggle="pill") Calendar
							li: a(href='#forum', data-toggle="pill") Discussions
							li: a(href='#documents', data-toggle="pill") Resources
							li: a(href='#peopleBig', data-toggle="pill") People
							li: a(href='#tools', data-toggle="pill") About Us
					.span8.tab-content
						#home.tab-pane.active
							mixin miniFeed({title: 'Activity', noSubscribe: true, updates: [{type:'group', desc:'Contact information updated', title:'Cardiac Connections', time:'30min ago'},{type:'news',source:'Cardiac Connections', title:'Unhealthy habits in teens from lower socioeconomic households raises risk of heart disease more', actor:'Monty Burns', time:'2 minutes ago'},{type:'doc',title:'Policy documents',actor:'Tim Maly', time:'2 days ago'},{type:'event', desc:'9:00-11:00 in the Hollywood Theatre, Come and hear more about the future vision for the Heart Centre',title:'Save the Date! All Staff Meeting: Friday, Feburary 17, 2012', time:'last week'},{type:'event',source:'Cardiac Connections',title:'Deadlines for the Innovation Funds Application are: February 29 (not a typo), 2012', actor:'Bob Watts', time:'2 weeks ago'}]})
						#calendar.tab-pane
							img(src='http://placehold.it/1200x800&text=Sharepoint+Calendar')
						#forum.tab-pane
							.btn.pull-right Start a Discussion
							h3	Discussions
							br
							.row-fluid.header-row
								.span4: strong: a(rel="tooltip",title="Sort by Author") Author
								.span5: strong: a(rel="tooltip",title="Sort by Topic") Topic
								.span3: strong: a(rel="tooltip",title="Sort by Updated") Updated
							.row-fluid.forum-post
								.span1: img(src='http://placehold.it/100x100')
								.span3: a(href="/publicProfile") Bob Watts
								.span5: a(href="/discussionDetail") Cardiac awareness information for you
								.span3 Yesterday
						#documents.tab-pane
							img(src='http://placehold.it/1200x800&text=Sharepoint+Documents')
						#peopleBig.tab-pane
							h3 People
							mixin listType({ type: 'discussions', header: ['Name','Role','Groups','Updated'], context: ['Subscribe', 'Assign to group','Report individual'], items: [{ title: 'Bob Watts', assoc:'Physician', origin:'Cardiology',updated:'yesterday' }, { title: 'Kerem Tirmandi', assoc:'Administrator', origin:'Learning',updated:'yesterday' }, { title: 'Andrew Lovett-Barron', assoc:'Analyst', origin:'Care',updated:'two hours ago' }, { title: 'Blair Johnsrude', assoc:'Operations', origin:'Hospital',updated:'three days ago' },{ title: 'Joe Stevenson', assoc:'Researcher', origin:'Research',updated:'yesterday' }, { title: 'Nigel Doherty', assoc:'Manager', origin:'Learning',updated:'yesterday' }, { title: 'Hidetoshi Sashitomi', assoc:'Manager', origin:'Care',updated:'two hours ago' }, { title: 'Lily Kampingwa', assoc:'Operations', origin:'Hospital',updated:'three days ago' },{ title: 'Lindsay Ellerby', assoc:'Administrator', origin:'Research',updated:'yesterday' }, { title: 'Samantha Lin', assoc:'Administrator', origin:'Learning',updated:'yesterday' }, { title: 'Bill Rutherford', assoc:'Nurse', origin:'Care',updated:'two hours ago' }, { title: 'Karl Pilkington', assoc:'Physician', origin:'Hospital',updated:'three days ago' }] })
						#tools.tab-pane
							mixin pageTitle("About Cardiac Care", false)
							.row
								.span8
									hr
									h4 VISION
									p To be THE Paediatric Critical Care experts leading research, education and clinical care. 
									br
									h4 MISSION
									p To serve critically ill children with the highest level of expertise, grounded in knowledge, dedication and compassion.
									br
									h4 GOALS
									p.ipsum(length=2000)						
	.span2
		include links

