include ../../patterns/mixin

div.modal(id='personModal')
	.modal-header
		btn.closeModal.pull-right(data-dismiss='modal') x
		h3 Select a person
	.modal-body
		form.form-horizontal
			textarea.input-xlarge#feedUpdate(rows='1')
		.row-fluid

	.modal-footer
		a.btn.close Close
		a.btn.btn-primary.saveModal(href='Success') Share