include ../../patterns/mixin

//mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial Services', page:'financial'}, {title: 'NIH Grant'}])
.pull-right
	mixin share()

mixin pageTitle("NIH Guidelines", false)
.row
	.span8
		.subnav#subnav
			ul.nav.nav-pills
				li: a(href='#budgetguidelines') Budget Guidelines
				li: a(href='#budgetpreparation') Budget Preparation
				li: a(href='#electronicgrantsubmission') Electronic Grant Submission
				li: a(href='#nihlinks') NIH Links
		include content
	.span2
		include ../financial/links