include ../../patterns/mixin.jade

h4 Important Links

- var links = {title: 'Forms', items: [{title: 'Ambulatory Referral Form', address: '#'}, {title: 'Cardiology Consultation', address: '#'},{title: 'KidTrac', address: '#'}, {title: 'Human Resources', address: '#'}, {title: 'Communications and Public Affairs', address: '#'},{title: 'Shop\'n\'Swap', address: '#'}]}

mixin linkList(links)

- var groups = {title: 'Tools', items: [{title: 'Support tickets', address: '#'}, {title: 'Software order form', address: '#'},{title: 'Research4kids login', address: '#'},{title: 'Research4kids support', address: '#'},{title: 'Community Care Access Centre', address: '#'}]}

mixin linkList(groups)

- var tools = {title: 'Resources', items: [{title: 'Basic Life Support Training', address: '#'}, {title: 'Canadian Medical Dictionary', address: '#'},{title: 'Central Venous Line Maintenance Video Series', address: '#'}, {title: 'Faculty Orientation', address: '#'}, {title: 'Medical Affairs', address: '#'}, {title: 'Medical Directives', address: '#'}, {title: 'Clinical Goods and Services Price List', address: '#'}, {title: 'Patient Statistics', address: '#'},]}

mixin linkList(tools)