include ../../patterns/mixin.jade

h4 Important Links

- var links = {title: 'Forms', items: [{title: 'Ambulatory Referral Form', address: '#'}, {title: 'Cardiology Consultation', address: '#'},{title: 'KidTrac', address: '#'}, {title: 'Human Resources', address: '#'}, {title: 'Communications & Public Affairs', address: '#'},{title: 'Shop\'n\'Swap', address: '#'}]}

mixin linkList(links)

- var groups = {title: 'Tools', items: [{title: 'Support Tickets', address: '#'}, {title: 'Software Order Form', address: '#'},{title: 'Research4Kids Login', address: '#'},{title: 'Research4Kids Support', address: '#'}]}

mixin linkList(groups)

- var tools = {title: 'Resources', items: [{title: 'Basic Life Support Training', address: '#'}, {title: 'Canadian Medical Dictionary', address: '#'},{title: 'Central Venous Line Maintenance Videos', address: '#'}, {title: 'Faculty Orientation', address: '#'}]}

mixin linkList(tools)