include ../../patterns/mixin.jade
mixin pageTitle("Welcome to Patient Care", false)

.row
	- var Stories = [ {title: 'Cardiac Care', address: 'test'}, {title: 'It\'s here! Corporate Services Survey launches today', address: 'test'}, {title: 'Borschel and Tabori honoured with Ontario Early Researcher Awards', address: 'test'}, {title: 'Cedarlane Life Sciences and Medical Lab Expo', address: 'test'}]
	.span8
		.well
			mixin miniFeed({title: 'Patient Care feed', updates: [{type:'group', desc:'This is a group update that is made in the group', title:'SickKids Cyclists', time:'30min ago'},{type:'news',source:'Care', title:'Child Care in the news', time:'2 minutes ago'},{type:'doc',title:'Policy documents',actor:'Tim Maly', time:'2 days ago'},{type:'event', desc:'Reminder to join our Friday Care social on the 4th flour',title:'Friday Care Social', time:'last week'},{type:'news',source:'Care',title:'$1mil grant awarded to Care workers', time:'2 weeks ago'}]})
		.row
			.span8
				- var Stories =[ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! corporate services survey launches today', address: 'test'} , {title: 'Borschel and Tabori honoured with Ontario Early Research Awards', address: 'test'}, {title: 'test', address: 'test'}]
				.row
					.span4
						.well
							h3 Patient Care Feature
							img.pull-left.feature(src='http://placehold.it/100x100')
							p.ipsum(length='120')
							a.pull-right(href='tools') See more »
							
					.span4
						.well
							h3 Events and Seminars
							p: a(href='#') Cardio-Pulmonary RIP and Networking Series
							p: a(href='#') Cell Biology Seminars
							p: a(href='#') Child Health Evalutaive Science Rounds
							p: a(href='#') Critical Care Medicine - Acute Care Research Rounds
							p: a(href='#') Developmental & Stem Cell Biology Seminars
							a.pull-right(href='news') See all events »
	.span2
		include links