.row-fluid
	.span12
		h3 Directory
		hr

table.table.table-striped

	tbody
		tr 
			td: a#groupDetail(href='#') Core Facilities
		tr	
			td: a#groupDetail(href='#') Research Financial Services
		tr 
			td: a#groupDetail(href='#') Grants Management
		tr	 
			td: a#groupDetail(href='#') Communications and Public Affairs
		tr
			td: a#groupDetail(href='#') Instrument Booking
		tr 
			td: a#groupDetail(href='#') Shop'n'Swap