.row-fluid
	.span12
		h3 Directory
		hr

table.table.table-striped

	tbody
		tr 
			td: a#groupDetail(href='#') Core Facilities
		tr	
			td: a#groupDetail(href='#') Research Financial Services
		tr 
			td: a#groupDetail(href='#') Grants Management
		tr	 
			td: a#groupDetail(href='#') Communications and Public Affairs
		tr
			td: a#groupDetail(href='#') Instrument Booking
		tr 
			td: a#groupDetail(href='#') Shop'n'Swap
		tr 
			td: a#groupDetail(href='#') From the Chief
		tr 
			td: a#groupDetail(href='#') Research Integrity office
		tr 
			td: a#groupDetail(href='#') Adminstrative Support
		tr 
			td: a#groupDetail(href='#') ARTP
		tr 
			td: a#groupDetail(href='#') Clinical Research Interest Group
		tr 
			td: a#groupDetail(href='#') Communicatoins and Public Affairs
		tr 
			td: a#groupDetail(href='#') Corporate Ventures
		tr 
			td: a#groupDetail(href='#') Faculty Office
		tr 
			td: a#groupDetail(href='#') Health Safety
		tr 
			td: a#groupDetail(href='#') Human Reseources
		tr 
			td: a#groupDetail(href='#') Radiation Safety
		tr 
			td: a#groupDetail(href='#') Research WEthics Board
		tr 
			td: a#groupDetail(href='#') Research Awards & Financial Services
		tr 
			td: a#groupDetail(href='#') GRIA
		tr 
			td: a#groupDetail(href='#') Grants Management Offie
		tr 
			td: a#groupDetail(href='#') Research IT
		tr 
			td: a#groupDetail(href='#') Research Training Centre
		tr 
			td: a#groupDetail(href='#') Research Equpiment Support Serices
		tr 
			td: a#groupDetail(href='#') Summer Students
