include ../../patterns/mixin.jade

ul.nav.nav-list
	li.nav-header Important Links
	li: a(href='#') important.link
	li: a(href='#') important.link
	li: a(href='#') important.link
	li: a(href='#') important.link
	li: a(href='#') important.link
	li: a(href='#') important.link
