include ../../patterns/mixin.jade

mixin share()

ul.nav.nav-list
	li.nav-header Forms
	li: a(href='#') foobar
	li: a(href='#') foobar
	li: a(href='#') foobar
	li: a(href='#') foobar
	li: a(href='#') foobar
	li: a(href='#') foobar
