include ../../patterns/mixin.jade

h4 My Links

- var links = {title: 'My Services', items: [{title: 'Research Programs', address: '#'}, {title: 'Research4Kids', address: '#'},{title: 'KidTrac', address: '#'}, {title: 'Human Resources', address: '#'}, {title: 'Communications and Public Affairs', address: '#'},{title: 'Shop\'n\'Swap', address: '#'}]}

mixin linkList(links)

- var tools = {title: 'My Tools', items: [{title: 'KidTrac', address: '#'}, {title: 'iProject', address: '#'},{title: 'Ideas Innovation Tool', address: '#'}, {title: 'Canadian Medical Directory', address: '#'}]}

mixin linkList(tools)

- var groups = {title: 'My Groups', items: [{title: 'Critical Care Medicine Program (CCMP)', address: '#'}, {title: 'IV Pump Project', address: '#'},{title: 'Cardiac Connections', address: '#'},{title: 'Centre for Nursing', address: '#'},{title: 'Community Care Access Centre', address: '#'},{title: 'MDCentre', address: '#'}]}

mixin linkList(groups)