include ../../patterns/mixin.jade

h4 Key Resources

- var links = {items: [{title: 'Shop\'n\'Swap', address: 'shopswap'},{title: 'KidTrac', address: '#'}, {title: 'Human Resources', address: '#'},{title: 'Communications & Public Affairs', address: '#'}, {title: 'IDA', address: '#'}, {title: 'Instrument Booking', address: '#'},{title: 'Research4Kids Login', address: '#'},{title: 'Research4Kids Support', address: '#'},{title: 'RIT Services Support', address: '#'},{title: 'RIT Software Order Form', address: '#'},{title: 'Legal', address: '#'},{title: 'IP&C', address: '#'},{title: 'Foundation Relations', address: '#'},{title: 'Stores', address: '#'},{title: 'Procurement & Purchasing', address: '#'},{title: 'Research Ethics Board', address: '#'},{title: 'Scientific Peer Review for Animal Use Protocols', address: '#'},{title: 'Health & Safety', address: '#'},{title: 'Update Your Scientific Profile', address: '#'}]}

mixin linkList(links)