ul#researchContext
	li: a(href='#research') Welcome
	li: a(href='#research') News
	li: a(href='#research') Research and Links
	li: a(href='#financial') Facilities and Support
	li: a(href='#financial') Policities and Guidelines
	li: a(href='#financial') Financial Services
	li: a(href='#financial') Research IT
	li: a(href='#financial') Training Center	
	li: a(href='#financial') Organizations