.row-fluid
	h2 News
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean orci lorem, pharetra sit amet consectetur sit amet, convallis vel felis. Suspendisse tempus magna eu odio laoreet adipiscing. Quisque facilisis nisi et leo faucibus malesuada. Etiam nulla tortor, feugiat id pharetra eu, mollis et tellus. Fusce rhoncus mi sed sapien tempor gravida. Etiam purus lacus, dictum quis ultrices pulvinar, tristique gravida nisl. Suspendisse pulvinar auctor lorem ut rhoncus.
	.span12
		.btn-group.pull-right
			btn.btn Read more
				

