include ../../patterns/mixin

.row
	.span8
		.row
			.span12
				include about
		.row
			ul.nav.nav-pills
				li.active: a(href='#home', data-toggle="pill") Home
				li: a(href='#newsBig', data-toggle="pill") News
				li: a(href='#calendarBig', data-toggle="pill") Calendar
				li: a(href='#directory', data-toggle="pill") Directory
				li: a(href='#forms', data-toggle="pill") Forms
				li: a(href='#tools', data-toggle="pill") Tools
		.row.tab-content
			#home.tab-pane.active
				include news
			#home.tab-pane
				include news
			#newsBig.tab-pane
				include news
			#calendarBig.tab-pane
				include ../../patterns/calendar
			#directory.tab-pane
				include directory
			#forms.tab-pane
				include ../../patterns/forum
			#tools.tab-pane
				p Tools		
	.row
		.span4
			include feed
			

			