include ../../patterns/mixin.jade
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

mixin pageTitle("Welcome to the Research Institute")

.row
	.span8
		ul.nav.nav-pills
			li.active: a(href='#overview', data-toggle="pill") Overview
			li: a(href='#news', data-toggle="pill") News Feed
			li: a(href='#calendar', data-toggle="pill") Calendar
			li: a(href='#links', data-toggle="pill") Resources and Links		
			
		.tab-content
			#overview.tab-pane.active
				.pull-right
					ul.nav.nav-list.well.span3
						li.nav-header Test
						li: a(href='#financialservices') Financial Services
						li: a(href='#financial') Research IT
						li: a(href='#financial') Grants Management
						li: a(href='#financial') Health Services

				.row-fluid
					.span6
						-each story in Stories
							.row-fluid.post.closed
								.span1: img(src='http://placehold.it/100x100')
								.span11
									h4: a= story.title
									p.post-meta 12 minutes ago from 
										a Feed Name


			#news.tab-pane
				.btn-group.pull-right
					btn.btn Read more
				h2 News
			#calendar.tab-pane
				include ../../patterns/calendar
			#links.tab-pane
				


	.span3
		h4 Important Links

		- var links = {title: "Important Links", items: [{title: 'Page Name', address: '#'},{title: 'Page Name', address: '#'},{title: 'Page Name', address: '#'},{title: 'Page Name', address: '#'}]}

		mixin linkList(links)