include ../../patterns/mixin.jade
mixin pageTitle("Welcome to the Research Institute", false)
- var Stories = [ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! Corporate Services Survey launches today', address: 'test'}, {title: 'Borschel and Tabori honoured with Ontario Early Researcher Awards', address: 'test', highlight: true}, {title: 'Cedarlane Life Sciences and Medical Lab Expo', address: 'test'}]

.row
	.span8
		.well
			mixin newsBtn()
			h3: a(href='#news') Research Institute News
			.row
				.span4
					p: img(src='http://placehold.it/300x200')
					h4: a(href='#news') Towering over Bay and Elm streets new SickKids building reaches highest point
					p Our Topping Off event was a hit! Thanks to all of you for coming out and celebrating this construction milestone. See a special video, artist renderings and read the full story in our topping off news release page on SickKids.ca.
						span.ipsum(length='100')
				.span4
					-each story in Stories
						-if (story.highlight)
							.row
								.span4.highlight
									em From the chief of research
									h4: a= story.title
									p.ipsum(length='100')
						-else
							.row
								.span4
									h4: a= story.title
									p.ipsum(length='100')
			.row-fluid
				.span12
					a.pull-right(href='#news') Read all research news »
		.row
			.span8
				- var Stories =[ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! corporate services survey launches today', address: 'test'} , {title: 'Borschel and Tabori honoured with Ontario Early Research Awards', address: 'test'}, {title: 'test', address: 'test'}]
				.row
					.span4
						.well
							h3 Updates for Scientists
							p: a(href'#') TCPSS2 Research Ethics Training, (April 23,2012)
							p: a(href='#') Final RLT Location plan for researchers (February 8, 2012)
							p: a(href='#') Rossant: It's 2012 and that means we can now say The Tower opens "next year!" (January 19,2012)
							p: a(href='#') News and updates from the Chief, (October 14, 2011)
							a.pull-right(href='#news') Read more updates »
							
					.span4
						.well
							h3 Events and Seminars
							p: a(href='#') Cardio-Pulmonary RIP and Networking Series
							p: a(href='#') Cell Biology Seminars
							p: a(href='#') Child Health Evalutaive Science Rounds
							p: a(href='#') Critical Care Medicine - Acute Care Research Rounds
							p: a(href='#') Developmental & Stem Cell Biology Seminars
							a.pull-right(href='#news') See all events »
	.span2
		include links