include ../../patterns/mixin.jade
mixin pageTitle("Welcome to the Research Institute", false)

.row
	.span8
		.well.clear-fix.news-feature
			h3: a(href='#') Towering over Bay and Elm streets, new SickKids building reaches highest point
			img.pull-left(src='http://placehold.it/300x300')
			p.ipsum
			p: a(href='#') Read more
		.row
			.span8
				- var Stories =[ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! corporate services survey launches today', address: 'test'} , {title: 'Borschel and Tabori honoured with Ontario Early Research Awards', address: 'test'}, {title: 'test', address: 'test'}]
				.row
					.span4
						h3 Headlines
						.well
							-each story in Stories
								.news-item
									h4
										i.icon-download-alt								
										a= story.title
									p.ipsum(length='100')
					.span4
						h3 Events and Seminars
						.well
							p calendar club
							p hubub
							p dubub
							p rubadubdub
	.span2
		include links