include ../../patterns/mixin

.row-fluid
	.span8
		.row-fluid
			.span12
				include about
		.row-fluid
			ul.nav.nav-pills
				li.active: a(href='#overview', data-toggle="pill") Overview
				li: a(href='#news', data-toggle="pill") News
				li: a(href='#corefacilities', data-toggle="pill") Core Facilities
				li: a(href='#grantsmanagement', data-toggle="pill") Grants Management
				li: a(href='#cpa', data-toggle="pill") CPA
				li: a(href='#ss', data-toggle="pill") Shop'n'Swap
		.row-fluid.tab-content
			#overview.tab-pane.active
				include overview
			#news.tab-pane
				include news
			#corefacilities.tab-pane
				include corefacilities
			#grantsmanagement.tab-pane
				include grantsmanagement
			#cpa.tab-pane
				include cpa
			#ss.tab-pane
				include ss
	.span4
		.row-fluid
			include forms
