include ../../patterns/mixin.jade
mixin pageTitle("Welcome to the Research Institute", false)

.row
			- var Stories = [ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! Corporate Services Survey launches today', address: 'test'}, {title: 'Borschel and Tabori honoured with Ontario Early Researcher Awards', address: 'test'}, {title: 'Cedarlane Life Sciences and Medical Lab Expo', address: 'test'}]
	.span8
		.well
			h3: a(href='#news') What's Happening?
			.row
				.span4
					p: img(src='http://placehold.it/300x100')
					h4: a(href='#news') Towering over Bay and Elm streets new SickKids building reaches highest point
					p Our Topping Off event was a hit! Thanks to all of you for coming out and celebrating this construction milestone. See a special video, artist renderings and read the full story in our topping off news release page on SickKids.ca.
				.span4
					-each story in Stories
						.row
							.span4
								h4: a= story.title
								p.ipsum(length='100')
				a.pull-right(href='#news') Read the daily news »
		.row
			.span8
				- var Stories =[ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! corporate services survey launches today', address: 'test'} , {title: 'Borschel and Tabori honoured with Ontario Early Research Awards', address: 'test'}, {title: 'test', address: 'test'}]
				.row
					.span4
						h3 Headlines
						.well
							-each story in Stories
								.news-item
									h4
										i.icon-download-alt								
										a= story.title
									p.ipsum(length='100')
					.span4
						h3 Events and Seminars
						.well
							p: a(href='#') Cardio-Pulmonary RIP and Networking Series
							p: a(href='#') Cell Biology Seminars
							p: a(href='#') Child Health Evalutaive Science Rounds
							p: a(href='#') Critical Care Medicine - Acute Care Research Rounds
							p: a(href='#') Developmental & Stem Cell Biology Seminars							
	.span2
		include links