include ../../patterns/mixin

.row-fluid
	.span8
		.row-fluid
			.span11
				include about
		.row-fluid
			.span11.well
				include news
	.span4
		.row-fluid
			include feed
	.span10
		.row-fluid
			include links


		