.navbar.navbar-fixed-top.shrunk-nav
	.container
		.row
			.span2
				a.brand(href="#body") Logo
			.span4
				ul.nav.nav-tabs.nav-stacked
					li: a(href="#demo1") Profile
					li: a(href="#demo1") People
					li: a(href="#demo1") Admin
			.span4.offset2
			.row
				.span4
					ul.nav
						li: a(href="#demo1") Directory
						li: a(href="#demo1") News
						li: a(href="#demo1") Blog
			.row
				.span4				
					form.navbar-searc.pull-right
						input.search-query.span3(type='text', placeholder='search')