.navbar
	.navbar-inner
		.row
			.span1
				a.brand(href="#dashboard") Logo
			.span11
				.row
					.span8
						ul.nav
							li: a(href="#strategicsickkids") Strategic SickKids
							li: a(href="#news") What's Happening?
							li: a(href="#blog") Mary Jo's Message
							li: a(href="#people") People
					.span3
						ul.user-nav.pull-right
							li
								i.icon-user.icon-white
								|  Welcome, <a href="#profile">Bob</a>
							li: a(href="#people") Kidmail
			
