.navbar.navbar-fixed-top.shrunk-nav
	.navbar-inner
		.container
			.nav-collapse
					a.brand(href="#body") Logo
					ul.nav.pull-right
						li
							a(href="#demo1") Profile
						li.dropdown
							a.dropdown-toggle(href="#",data-toggle="dropdown") 
								
							ul.dropdown-menu
								li
									a(href="http://normative.com") Normative.com
								li 
									a(href="http://readywater.ca") Readywater.ca
								li.divider
								li
									a item

					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar