include ../../patterns/mixin.jade

.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.row
				.span1
					a.brand(href="dashboard") SK
					.returnHome Intranet Homepage
				.span11
					.row
						.span7
							ul.nav
								li: a(href="strategicsickkids") Strategy & Performance
								li: a(href="news") What's Happening?
								li: a(href="blog") Mary Jo's Message
								li: a(href="directory") People
						.span4
							ul.user-nav.pull-right
								li
									i.icon-user.icon-white
									|  Welcome, <a href="profile">Bob</a>
								li.divider
								li.dropdown
									a.dd-toggle(href="support"): i.icon-cog.icon-white
									|	Settings
									ul.dropdown-menu
										li: a.dropdown-item(href='') Request Page
										li: a.dropdown-item(href='') Manage my Pages
								li.divider
								li
									a(href="people") Kidmail

	.mainnavsub
		.subnav
			.container
				.row
					.span7.offset1
						ul.nav
							li.dropdown
								a.dd-toggle(href="support") Staff Support Resources
								ul.dropdown-menu
									mixin subnav('support')
							li.dropdown
								a.dd-toggle(href="care") Care
								ul.dropdown-menu
									mixin subnav('care')
							li.dropdown
								a.dd-toggle(href="research") Research
								ul.dropdown-menu
									mixin subnav('research')
							li.dropdown
								a.dd-toggle(href="learning") Learning
								ul.dropdown-menu
									mixin subnav('learning')

					.span4
						form.navbar-search.pull-right
							input.search-query(type='text', data-provide="typeahead", placeholder='Search')
							a.btn.btn-inverse.disabled(href='search'): i.icon-search.icon-white