.navbar.navbar-fixed-top.shrunk-nav
	.navbar-inner
		.container-fluid
			.row-fluid
				.span2
					a.brand(href="#body") Logo
				.span4
					ul.nav.nav-list
						li: a(href="#demo1") Profile
						li: a(href="#demo1") People
						li: a(href="#demo1") Admin
				.span6
					.row-fluid
						.span6
							ul.nav.nav-list
								li: a(href="#demo1") Directory
								li: a(href="#demo1") News
								li: a(href="#demo1") Blog
					.row-fluid
						form.navbar-search.span6.pull-right
							input.search-query.span3(type='text', placeholder='search')