.navbar.navbar-fixed-top.shrunk-nav
	.navbar-inner
		.container
			.row
				.span2
					a.brand(href="#body") Logo
				.span10
					.row
						.span6
							ul.nav
								li: a(href="#strategicsickkids") Strategic SickKids
								li: a(href="#news") What's Happening?
								li: a(href="#blog") Mary Jo's Message
								li: a(href="#people") People
						.span4
							ul.user-nav.pull-right
								li Weclome, <a href="#profile">Bob</a>
								li: a(href="#people") Kidmail
								li: a(href="#admin") Settings
					.row 
						.span6
							ul.nav
								li.dropdown
									a.dropdown-toggle(href="#support",data-toggle="dropdown") Staff Support Resources
										b.caret
								li.dropdown
									a.dropdown-toggle(href="#care",data-toggle="dropdown") Care
										b.caret
								li: a#research(href='#research') Research
								li.dropdown
									a.dropdown-toggle(href="#learning",data-toggle="dropdown") Learning
										b.caret
						.span4
							form.navbar-search.pull-right
								input.typeahead.search-query(type='text', data-provide="typeahead", placeholder='Search')
								btn#search.btn.search Search
