.navbar.navbar-fixed-top.shrunk-nav
	.navbar-inner
		.container-fluid
			.row-fluid
				.span2
					a.brand(href="#body") Logo
				.span4
					ul.nav
						li: a#profile(href="#profile") Profile
						li: a#people(href="#people") People
						li: a#groupDetail(href="#admin") Admin
						li: a#editProfile(href="#editProfile") Edit Profile
				.span6
					ul.nav.pull-right
						li: a#strategicsickkids(href="#strategicsickkids") Strategic SickKids
						li: a#blog(href="#blog") Mary Jo's Message
						li: a#news(href="#news") What's Happening?
						li: a#people(href="#people") People
			.row-fluid
				.span2
				.span6
					ul.nav
						li.dropdown
							a.dropdown-toggle(href="#support",data-toggle="dropdown") Staff Support Resources
								b.caret
						li.dropdown
							a.dropdown-toggle(href="#care",data-toggle="dropdown") Care
								b.caret
						li: a#research(href='#research Research') Research

						li.dropdown
							a.dropdown-toggle(href="#learning",data-toggle="dropdown") Learning
								b.caret
				.span4
					form.navbar-search.pull-right
						input.search-query(type='text', placeholder='search')
						btn.btn Search