body {
	margin-top: 120px;
}

.container {
	margin-left: 10px;
}

#context {
	position: fixed;
}

#context ul {
	margin: 0;
}

#context li {
	text-align: center;
	list-style-type: none;
	padding: 10px 0;
}

#context li:hover {
	background: #eee;
}

#context li a {
	font-size: 0.8em;
	display: block;
	color: #000;
	text-decoration: none;
}

#contect li a:hover {
	text-decoration: none;
}

.navbar {
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
	box-shadow: inset 0 0 5px
}

.user-nav li {
	display: block;
	float: left;
	padding: 9px 10px 11px;
	line-height: 19px;
}

.user-nav a {
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.user-nav a:hover {
	color: white;
	text-decoration: none;
	background-color: #222;
}


.navbar > div{
	height: 100px;
}

h2, h3, h4 {
	margin-bottom: 0.5em;
}


.news-item {
	margin: 1em 0;
}

.document, .forum-post {
	border-width: 1px 0;
	border-color: #eeeeee;
	border-style: solid;
	margin-top: -1px;
	padding: 10px 0;
}

.profile-group {
	margin: 1em 0;
}

.profile {
	margin-bottom: 1em;
}

.news-feature img, img.content {
	margin: 0 10px 0 0;
}

.post h3 {
	margin-bottom: 0;
}

.post-meta {
	margin-bottom: 1em;
	font-style: italic;
}

@media (min-width: 1200px) {
	.well .span4 {
		width: 350px;
	}
}