include ../../patterns/mixin.jade

ul
	li
		a(href="#dashboard", title="Home")
			i.icon-home
		a(href="#dashboard", title="Home") Home
ul.retract
	li
		a(href="#calendar", title="Calendar") 
			i.icon-calendar
		a(href="#calendar", title="Calendar") Calendar
	li
		a(href="#docs", title="Documents")
			i.icon-folder-open
		a(href="#docs", title="Documents") Documents
	li
		a(href="#groups", title="Groups")
			i.icon-globe
		a(href="#groups", title="Groups") Groups
	li
		a(href="#subscription", title="Subscriptions")
			i.icon-book
		a(href="#subscription", title="Subscriptions") Subscriptions
ul.shrinker
	li.drop: i.icon-chevron-down
	li.retr: i.icon-chevron-up
hr

ul.research
	mixin subnav('research')