ul#context.nav.nav-list
	li
		a#dashboard(href="#home") Home
	li
		a#calendar(href="#calendar") Calendar
	li
		a#docs(href="#docs") Documents
	li
		a#groups(href="#groups") Groups
	li
		a#subscription(href="#subscription") Subscriptions
