ul.nav.nav-list
	li
		a(href="#dashboard", title="Home")
			i.icon-home 
	li
		a(href="#calendar", title="Calendar") 
			i.icon-calendar
	li
		a(href="#docs", title="Documents")
			i.icon-folder-open
	li
		a(href="#groups", title="Groups")
			i.icon-globe
	li
		a(href="#subscription", title="Subscriptions")
			i.icon-book
