include ../../patterns/mixin.jade

ul
	li
		a(href="dashboard", title="Home")
			i.icon-home.pull-left
		a(href="dashboard", title="Home")  Home
ul.retract
	li
		a(href="calendar", title="Calendar") 
			i.icon-calendar.pull-left
		a(href="calendar", title="Calendar")  Calendar
	li
		a(href="docs", title="Documents")
			i.icon-folder-open.pull-left
		a(href="docs", title="Documents")  Documents
	li
		a(href="groups", title="Groups")
			i.icon-globe.pull-left
		a(href="groups", title="Groups")  Groups
	li
		a(href="subscription", title="Subscriptions")
			i.icon-book.pull-left
		a(href="subscription", title="Subscriptions") All Activity

ul.research
	li.header.last Research
	mixin subnav('research')
ul.financial
	li.header: a#researchExpand(href='#research') Research 
	li.header.last: a(href='#financial') Financial Services
	include ../../pages/financial/nav
ul.care
	li.header.last Care
	mixin subnav('care')
ul.learning
	li.header.last Learning
	mixin subnav('learning')
ul.support
	li.header.last Support
	mixin subnav('support')