ul.nav.nav-list
	li
		a#dashboard(href="#home")
			i.icon-home 
			type Home
	li
		a#calendar(href="#calendar") 
			i.icon-calendar
			type Calendar
	li
		a#docs(href="#docs")
			i.icon-folder-open
			type Documents
	li
		a#groups(href="#groups")
			i.icon-globe
			type Groups
	li
		a#subscription(href="#subscription")
			i.icon-book
			type Subscriptions