ul.nav.nav-list
	li
		a#dashboard(href="#home", title="Home")
			i.icon-home 
	li
		a#calendar(href="#calendar", title="Calendar") 
			i.icon-calendar
	li
		a#docs(href="#docs", title="Documents")
			i.icon-folder-open
	li
		a#groups(href="#groups", title="Groups")
			i.icon-globe
	li
		a#subscription(href="#subscription", title="Subscriptions")
			i.icon-book
