include ../../patterns/mixin
mixin pageTitle("Clinical Resources", false)
.row
	.span8
		hr
		h3 About Us
		p.ipsum(length='500') 
		ul
		li ***Tenative***
		li Lab Services
		li Pharmacy
		li Kidcom - out of country postal codes?
		li patient statitics
		li human resources
		li information services
		li communicatoins and public affairs
		li Access and Patient Flow
		li Ambulatory
		
	.span3
		include links