include ../../patterns/mixin
mixin pageTitle("Clinical Resources", false)
.row
	.span8
		hr
		p This section contains resources for clinical staff. 
		br
		p.ipsum(length=200)
		ul
		li: a(href='labservices')
		li: a(href='diagnosticimaging')
		li: a(href='ccrt')
		li: a(href='electronmicro')
		li: a(href='medeng')
		li: a(href='childandfamily')
		li: a(href='palliative')
		li: a(href='medicaldirectives')
		li: a(href='patientstatistics')
		li: a(href='clinicalgoods')
		li: a(href='nursing')
	.span2
		include links
	