h2 Strategic SickKids
.row-fluid
	.span11.well
		h3 Avenues to Excellence
		br
		p.ipsum(length='1000', para='3')
		br
		a(href='#') Quality and Service
		br
		a(href='#') Our People
		br
		a(href='#') Innovation
		br
		a(href='#') Financial Health
		br
		a(href='#') Sustainable Infrastructure
		br
		a(href='#') Health Systems