h2 Strategic SickKids
.row-fluid.well
	.span6
			h3 Avenues to Excellence
			p.ipsum(length='1000', para='3')
	.span6
		a(href='#') Quality and Service
		br
		a(href='#') Our People
		br
		a(href='#') Innovation
		br
		a(href='#') Financial Health
		br
		a(href='#') Sustainable Infrastructure
		br
		a(href='#') Health Systems