h3 Innovate with Ideas
.row-fluid
	.span11.well
		This This an area to feature the Ideas Plaftform and talk about the way that people can engage with SickKids to share their ideas for innovation. There could be an image here, or some other compelling content like a video story of someone who has a great idea and makes it come to life.
		br
		br
		ol
			li Post an idea that you're interested in
			li See if other people are interested in your idea
			li Initiate a project with your group for your idea 
		a(href='#') Open the tool and start