include ../../patterns/mixin.jade

h4 Strategic Tools

- var links = {title: '', items: [{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(links)
