include ../../patterns/mixin.jade

h4 Strategic Tools

- var links = {title: '', items: [{title: 'Shop & Eat at SickKids', address: '#'}, {title: 'Human Resources', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(links)
