include ../../patterns/mixin.jade

h4 Strategy Tools and Links

- var links = {title: '', items: [{title: 'Ideas Innovation Tool', address: '#'},{title: 'Avenues to Excellence', address: '#'},{title: 'SickKids Scorecard', address: '#'},{title: 'iProject', address: '#'}]}

mixin linkList(links)
