include ../../patterns/mixin.jade
mixin pageTitle("Strategic SickKids")

.row
	.span8
		.well.bignews
			h3 Avenues to Excellence 2010-2015
			.row
				.span4
					p: img(src='http://placehold.it/350x197')
					p.ipsum(length='399', para='3')
				.span4
					h4 Six Strategic Directions
					a(href='#') Quality and Service
					br
					a(href='#') Our People
					br
					a(href='#') Innovation
					br
					a(href='#') Financial Health
					br
					a(href='#') Sustainable Infrastructure
					br
					a(href='#') Health Systems
		.row
			.span4
				.well
					h3 Our Vision, Mission and Values
					h6 Our Vision: 
					p Healthier Children. A Better World
					h6 Our Mission:
					p As innovators in child health, we lead and partner to improve the health of children provincially, nationally and internationally through the integration of care, research, and education:
					h6 Our Values:
					p Excellence, Integrity, Collaboration, Innovation.

			.span4
				.well
					h3 Innovate with Ideas
					p This an area to feature the Ideas Plaftform and discuss the way that people can engage with SickKids to share their ideas for innovation. There could be an image here, or some other compelling content like a video story of someone who has a great idea and makes it come to life.
					ol
						li Post an idea that you're interested in
						li See if other people are interested in your idea
						li Initiate a project with your group for your idea 
					a(href='#') Open the tool and get started
	.span2
		include links