h3 Our Vision, Mission and Values
.row-fluid
	.span11.well
		| Our Vision: Healthier Children. A Better World
		br
		br
		| Our Mission: As innovators in child health, we lead and partner to improve the health of children provincially, nationally and internationally through the integration of care, research, and education:
		br
		br
		| Our Values: Excellence, Integrity, Collaboration, Innovation