- var Links =[ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];


- var Tools = [ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];


- var Groups = [ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];



ul.nav.nav-list

	li.nav-header Quick Links
		li: a(href='#news') Shop and Eat at SickKids
		li: a(href='#research') Human Resources
	- each link in Links
		li
			a(href='#groups')= link.title

	li.nav-header My Tools
	- each tool in Tools
		li
			a(href='#tools')= tool.title

	li.nav-header My Groups
	- each group in Groups
		li
			a(href='#groups')= group.title