- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing this out', address: 'test'} , {title: 'SickKids international reputation', address: 'test'}, {title: 'Intranet redesign', address: 'test'}];

.row-fluid
	.span8
		h2: a(href='#news') What's Happening?
.row-fluid
	.span6
		img(src='http://placehold.it/300x150')
		h3: a(href='#news') Get fit and have fun with the Inter-Hospital Health Challenge (see photos)
		p We kicked off the Inter-Hospital Heealth Challenge on May 1 with the largest exercise class University Ave. has ever seen! Energetic staff from SickKids and surrounding hospitals hiked up their heart rates to star this May health challenge. Check out these happy and health people and find out how you can participate! 
		br
		a(href='#').pull-right Read more
	.span6
		-each story in Stories
			.row
				.span1
					i.icon-user
				.span7
					h4= story.title
				.span4
					a(href='#news') Read more
			.row
				.span12
					p.ipsum(length='100')
		a(href='#news').pull-right View all news
		
		h3: a(href='#') Get fit and have fun with the Inter-Hospital Health  Challenge (see photos)
		img.pull-left(src='http://placehold.it/300x200')
		p We kicked off the Inter-Hospital Heealth Challenge on May 1 with the largest exercise class University Ave. has ever seen! Energetic staff from SickKids and surrounding hospitals hiked up their heart rates to star this May health challenge. Check out these happy and health people and find out how you can participate! 
		br