- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing this out', address: 'test'} , {title: 'tons of cars', address: 'test'}, {title: 'test', address: 'test'}];

.row-fluid
	.span8
		h2: a What's Happening?
.row-fluid
	.span6
		img(src='http://placehold.it/300x150')
		h3 This is the feature news story
		p.ipsum(length='300')
		br
		a(href='#').pull-right Read more
	.span6
		-each story in Stories
			.row
				.span1
					i.icon-user
				.span7
					h4= story.title
				.span4
					a(href='#') Read more
			.row
				.span12
					p.ipsum(length='100')
		a(href='#').pull-right See all news
