- var Stories =[ {title: 'Departmental announcement', icon: 'user'}, {title: 'Testing it out', icon: 'download'} , {title: 'Testing testing', icon: 'pencil '}, {title: 'test', icon: 'info-sign'}];
.row-fluid
	.span8
		h2: a Subscription
-each story in Stories
	.row-fluid
		.span1
			i(class='icon-' + story.icon)
		.span10
			h4= story.title
			p.ipsum(length='100')
		span.pull-right: a(href='#') Read more