include ../../patterns/mixin

- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing this out', address: 'test'} , {title: 'tons of cars', address: 'test'}, {title: 'test', address: 'test'}];

.row
	.span8
		.row
			.span8
				.well
					.btn-group.pull-right
						btn.btn +
						btn.btn see all
					h2 What's Happening?

					.row
						.span4
							p: img(src='http://placehold.it/300x100')
							h4 This is the feature news story
							p.ipsum(length='300')
							a(href='#') Read more
						.span4
							-each story in Stories
								.row
									.span4
										h4
											i.icon-user
											a= story.title
										p.ipsum(length='100')

		.row
			.span4
				.well
					h2 Subscription
						.btn-group.pull-right
							btn.btn +
							btn.btn Edit
					-each story in Stories
						.news-item
							h4
								i.icon-download-alt								
								a= story.title
							p.ipsum(length='100')
			.span4
				.well
					mixin calendar()
				.well
					mixin todo()
	.span3
		include links
		