include ../../patterns/mixin

- var Stories =[ {title: 'SickKids in the news!', icon: 'user'}, {title: 'Testing this out', icon: 'wrench'} , {title: 'tons of cars', icon: 'folder-open'}, {title: 'test', icon: 'pencil'}];

.row
	.span8
		.row
			.span8
				.well
					h2: a(href='#news') What's Happening?

					.row
						.span4
							p: img(src='http://placehold.it/300x100')
							h4 This is the feature news story
							p.ipsum(length='300')
							a(href='#news') Read more
						.span4
							-each story in Stories
								.row
									.span4
										h4: a= story.title
										p.ipsum(length='100')

		.row
			.span4
				.well
					h2: a(href='#subscription')  My Feeds
					-each story in Stories
						.news-item
							i(class='icon-' + story.icon).pull-left
							h4
								a(href='#subscription')= story.title
							p.ipsum(length='100')
			.span4
				.well
					mixin calendar()
				.well
					mixin todo(['This is an example todo', 'this is another example of a todo item', 'Yet another todo item'])
	.span3
		include links
		