include ../../patterns/mixin
include ../../patterns/feed
- var Stories =[ {title: 'SickKids is celebrating National Nursing Week!', icon: 'user'}, {title: 'Stars are doing the happy for SickKids (see video)', icon: 'folder-open'}, {title: 'Towering over Bay and Elm, SickKids Centre for Research and Learning reaches highest point (see video)', icon: 'pencil'}, {title: 'Can you tell me how to get, how to get to... Marnie\'s Lounge! (see photos)', icon: 'folder-open'}];

.row
	.span8
		.row
			.span8
				.well
					mixin newsBtn()
					h3: a(href='#news') What's Happening?
					.row
						.span4
							p: img(src='http://placehold.it/300x200')
							h4: a(href='#news') Get fit and have fun with the inter-hospital healh
							p: We kicked off the Inter-Hospital Heealth Challenge on May 1 with the largest exercise class University Ave. has ever seen! Energetic staff from SickKids and surrounding hospitals hiked up their heart rates to star this May health challenge. Check out these happy and health people and find out how you can participate!
								span.ipsum(length='100')
						.span4
							-each story in Stories
								.row
									.span4
										h4: a= story.title
										p.ipsum(length='100')
						a.pull-right(href='#news') Read the daily news »
		.row
			.span4
				.well
					mixin miniFeed({personal: true, title: 'Subscription feed', updates: [{type:'profile', actor:'bob', title:'Bob updated his profile', time:'2 minutes ago'},{type:'doc',title:'List of honours was updated', actor:'bob', time:'2 days ago'},{type:'event',actor:'bob', title:'Bob created an event', time:'last week'},{type:'news',actor:'bob', title:'Bob commented on the Message from the Chief of Research', time:'2 weeks ago'}]})
				.well
					h3 Quick Poll
					mixin radio({question: 'What do you think of this poll?', items:['60%', '70%','80%', '90%']})
					a.pull-right(href='#poll') View poll results »
					btn.btn.btn-primary(type='button') Submit
			.span4
				.well
					mixin dailyAgenda(['This item is on the calendar today', 'This is another item that needs to be done today', 'Project deadline is today'])
				.well
					mixin twitter()
	.span2
		include links
	-var poll = {question: 'May 7 is Stop! Clean Your Hands Day. What is SickKids\' hand hygiene complaince target?', items:['60%', '70%', '80%', '90%']}