include ../../patterns/mixin

.row-fluid
	.span8
		.row-fluid
			.span12.well
				include news
		.row-fluid
			.span6.well
				include subscription
			.span6.well
				mixin calendar()
	.span4
		include links
		hr