include ../../patterns/mixin.jade
include ../../patterns/feed.jade
include ../../patterns/submitstory_modal.jade
- var Stories =[ {title: 'SickKids is celebrating National Nursing Week!', icon: 'user'}, {title: 'Stars are doing the happy for SickKids (see video)', icon: 'folder-open'}, {title: 'Towering over Bay and Elm, SickKids Centre for Research and Learning reaches highest point (see video)', icon: 'pencil'}, {title: 'Can you tell me how to get, how to get to... Marnie\'s Lounge! (see photos)', icon: 'folder-open'}];

.row
	.span8
		.row
			.span8
				.well.bignews
					#newsBtn.pull-right
						btn.btn.btn-mini(data-toggle='modal', href='#submitStoryModal') Submit a Story
					h3: a(href='news') What's Happening?
					.row
						.span5
							h4: a(href='news') Get fit and have fun with the inter-hospital...
							p: img.news-feature(src='http://placehold.it/300x200&text=Video+or+Image')
							hr
							h4 More Headlines
							-each story in Stories
								a.news-item= story.title
								//- p.ipsum(length='100')
							a.news-item(href='news') Read the daily news »
						.span3
							h4 Ongoing at SickKids
							p: img.news-feature(src='http://placehold.it/300x200')
							h5: a(href='#') Ideas that Make Cents!
							p Some more information about the campaign in one or two lines. This is where it could be promoted with more important information.
							p 
								img.icon-chevron-left 
								| 1 of 7
								img.icon-chevron-right
		.row
			.span4
				.well
					mixin miniFeed({personal: true, mini: true, title: 'Activity feed', updates: [{type:'profile', actor:'Bob Watts', title:'Bob updated his profile', time:'2 minutes ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'Research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'}]})
				.well
					h3 Quick Poll
					.pollCont
						.result
							include ../../patterns/poll_modal
						.question
							mixin radio({question: 'What do you think of this poll?', items:['60%', '70%','80%', '90%']})
							a.pollresults.pull-right.pollResults View poll results »
							a.btn.btn-primary.pollResults Submit
			.span4
				.well.clearfix
					mixin dailyAgenda(['Meet with Dr. Stephens', 'Lab Seminar', 'Talk about rounds with Kim'])
				.well.clearfix
					mixin twitter()
	.span2
		include ../profile/links