include ../../patterns/mixin

- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing this out', address: 'test'} , {title: 'tons of cars', address: 'test'}, {title: 'test', address: 'test'}];

.row
	.span8
		.row
			.well
				h2 News
					.btn-group.pull-right
						btn.btn +
						btn.btn see all

				.row
					.span3
						img(src='http://placehold.it/300x300')
					.span4
						-each story in Stories
							.news-item
								h4
									i.icon-user
									a= story.title
								p.ipsum(length='100')

		.row
			.span4
				.row
					.well
						h2 Subscription
							.btn-group.pull-right
								btn.btn +
								btn.btn Edit
						-each story in Stories
							.row
								.span4
									h4
										i.icon-download-alt								
										a= story.title
									p.ipsum(length='100')