h3 About Us
p Welcome to the Pharmacy Intenral Website, here you will find:
ul
	li Drug Information Update
	li eDIN - Drug Information News
	li Drug Alerts
	li Nursing newsletters
	li Special Access program (SAP)

mixin toTop()
h3#header1 Drug Information Update 
ul
	li 
		a February 2010
		a Fall 2007

mixin toTop()
h3#header2 eDIN - Drug Information News 
p The Electronic Drug Information News (eDIN) is a publication of SickKids Drug Information Service. The publication outlines changes and additions to the SickKids formulary, recent drug recalls and warnings and drug information updates. Please click on the links below to view newsletters and drug specific information.
p: h6 2011
ul
	li January
p: h6 2010
ul
	li January
	li May
p: h6 2009
ul
	li November
	li July
p: h6 2008
ul
	li January
	li March
	li May
	li Nov
	li Dec
p: h6 2007
ul
	li January
	li February
	li March/April
	li May
	li October/November
	li November/December

mixin toTop()
h3#header3 Drug Alerts

h6 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

 
h4 IV Antibiotic Dose Standardization
 
h6  A
ul
	li Aclasta®
	li ACE-inhibitors
	li Adalimumab
	li Adderall XR (1)
	li Adderall XR (2)
	li ADHD drugs
	li Amaryl®
	li Amikacin (1)
	li Amikacin (2)
	li Mixed amphetamines
	li Antidepressants
	li Aprotinin
	li Atomoxitene (1)
	li Atomoxetine (2)
h6 B
ul
	li Benzocaine sprays
	li Beta Interferon
	li Bevacizumab
h6 C
ul
	li Carbolith®
	li Celecoxib
	li COX 2 Inhibitors

h6 D
ul
	li Darbepoetin
	li Depo-medroxyprogesterone acetate
	li Depo-Provera® (1)
	li Depo-Provera® (2)
	li Dolasetron
	li Drotrecogin
	li Drotrecogin Alfa
	li Duragesic®
h6 E
ul
	li Epoetin alfa (1)
	li Epoetin alfa (2)
	li Eprex®
	li Ezetimibe
h6 F
ul
Fentanyl transdermal system
Formoterol
h6 G
ul
	li Galantamine(1)
	li Galantamine (2)
	li Gatifloxacin (1)
	li Gatifloxacin (2)
	li  Glimepiride
h6 H

h6 I
ul
	li Ibritumomab
	li Imatinib
	li Infliximab (1)
	li Infliximab (2)
h6 J

h6 K
ul
Ketek®
h6 L
ul
	li Lamotrigine (1)
	li Lamotrigine (2)
	li Lamictal®
	li Lidocaine jelly 2% prefilled syringe
	li Lithium carbonate
h6 M
ul
	li Meningococcal Conjugate vaccine
	li Medroxyprogesterone Acetate depot
	li Meropenem
	li MMR vaccine
h6 N

h6 O
ul
	li Oseltamivir
	li Oncaspar®
	li Oxcarbazepine
h6 P
ul
	li Pamidronate
	li Paroxetine (1)
	li Paroxetine (2)
	li Paroxetine (3)
	li Paxil® (1)
	li Paxil®(2)
	li Paxil CR®
	li PEG-Asparaginase (1)
	li PEG-Asparaginase (2)
	li Phosphodiesterase-inhibitors
	li Pimecrolimus topical
	li Priorix
	li Promethazine
	li Promethazine HCl
 
h6 Q

h6 R
ul
	li Reminyl®
	li Rituximab
	li Rituxan
	li Rofecoxib
	li Rosuvastatin

h6 S
ul
	li Saquinavir
	li Salmeterol
	li Sildenafil
	li Sirolimus
	li Sodium Phosphates Oral Solution
	li Sodium phosphate products for bowel cleansing (oral)
	li Strattera®

h6 T
ul
	li Tacrolimus topica
	li Tadalafil
	li Tamiflu
	li Telithromycin
	li Transdermal Drug Patches
	li Tipranavir
 
h6 U

h6 V
ul
	li Valdecoxib (1)
	li Valdecoxib (2)
	li Vancomycin
	li Vardenafil
	li Venlafaxine
	li Vioxx

h6 W

h6 X

ul
	li Xylocaine jelly 2% prefilled syringe

h6 Y

h6 Z
ul
	li Zoledronic acid (1)
	li Zoledronic acid (2)
	li Zometa®



mixin toTop()
h3#header4 Nursing Newsletters


ul
	li: a Volume 20, Number 2; April 2009 - New Polyethylene Glycol 3350 Product Now Available

	li: a Volume 20, Number 1; Feb 2009 - Drug-Induced Nephrotoxicity

	li: a Volume 19, Number 4; Nov 2008 - Sucrose for Procedural Pain in Neonates and Infants

	li: a Volume 19, Number 3; Sep 2008 - Alternating Ibuprofen and Acetaminophen

	li: a Volume 19, Number 2; May 2008 - Cytochrome P450-Drug Interactions

	li: a Volume 19, Number 1; March 2008	- Adverse Drug Reaction Reporting

	li: a Volume 18, Number 4; December 2007 - Vaccines in Immunopressed Patients

	li: a Volume 18, Number 3; October 2007 - Intravenous Syringe Overfill

	li: a Volume 17, Number 1; January 2005 - New Publically Funded Vaccines

	li: a Volume 17, Number 2; April 2005	- Understanding Sulfonamide Cross-Sensitivity

	li: a Volume 17, Number 3; September 2005	- Understanding Intravenous Imcompatibilities

	li: a Volume 17, No 4; December 2005 - Proton Pump Inhibitors: Omeprazole and Lansoprazole

mixin toTop()
h3#header4 Special Access Program

h4 Note Re Special Access Program (SAP) Requests to Health Canada
p In the near future, all SAP request forms will be submitted to Health Canada electronically.  Currently, the Health Canada e-SAP is in phase 1 of a pilot project moving towards this and includes a new PDF “smart form”.
 
 
h4 Form A Patient Specific 
p The requests must now be completed by typing directly into the boxes on a computer rather than writing the answers manually on a printed copy. 
p Please choose “Form A” and commence completing the form. Once you have completed the electronic form, press the “finalize” button found at the bottom, this will highlight any incomplete mandatory fields.  Please ensure that all fields are filled out to the best of your ability.  You will still need to print the completed form and sign the “Practitioner’s signature” section.  Fax the form to pharmacy at (416)813-7699 for review & the final submission to Health Canada by Pharmacy staff.
p If help with Form A request or a Future Use Request Form B is required, please contact pharmacy at phone number (416)813-4901 (Mon-Fri 8:00 to 16:00hrs or 416-813-6699 at other times) for assistance with the process.  
ul
	li: a e-Sap general Form (A+B)
	li:  a SAP Form C (Patient Follow-Up)
