body
	include global/nav/index
	.container
		.row
			#context.span1
				include global/context/index
			#content.span11
				include pages/dashboard/index
		.row
			#footer.span12
				include global/footer/index