body
	include global/nav/index
	.container.main-content
		.row
			#context.span2
				include global/context/index
			.span10.offset2
				#content.container
					include pages/dashboard/index
		.row
			#footer.span12
				include global/footer/index