body
	include global/nav/index
	.container
		.row
			#context.span1
				include global/context/index
			.span11.offset1
				#content.container
					include pages/dashboard/index
		.row
			#footer.span12
				include global/footer/index