body
	include global/nav/index
	.container.main-content
		.row
			#context.span2
				include global/context/index
				include global/footer/index
			.span10.offset2
				#content.container
					include pages/dashboard/index