body
	include global/nav/index
	.container-fluid
		.row-fluid
			#context.span2
				include global/context/index
			.span10
				#content.container
					-if( path === undefined)
						include pages/dashboard/index
					-else
						include pages/dashboard/index
		.row-fluid
			#footer.span12
				include global/footer/index