body
	include global/nav/index
	.container-fluid
		.row-fluid
			#context.span2
				include global/context/index
			.span10
				#content.container
					include pages/dashboard/index
		.row-fluid
			#footer.span12
				include global/footer/index