include patterns/mixin.jade
!!! 5

html
	include header
	body
		include global/nav/index
		.container.main-content
			.row
				#context.span2
					include global/context/index
				.span10.offset2
					#content.container
						!= body
		include global/footer/index
						