include ../../patterns/mixin.jade

.navbar.navbar-fixed-bottom
	.navbar-inner
		.container
			.row
				.span1
					a.brand(href="dashboard") SK
					.returnHome Intranet Homepage
				.span11
					.row
						.span8
							ul.nav
								li: a(href="http://www.sickkids.ca/") SickKids.ca
								li: a(href="#") Feedback & Comments
								li: a(href="http://www.utoronto.ca/") University of Toronto
								li: a(href="#") Contact SickKids
								li: a(href="#") Terms of Use