include ../../patterns/mixin.jade

.navbar.navbar-bottom
	.navbar-inner
		.container
			.row
				.span12
					.row
						.span8
							ul.nav
								li: a(href="http://www.sickkids.ca/") SickKids.ca
								li: a(href="#") Feedback & Comments
								li: a(href="http://www.utoronto.ca/") University of Toronto
								li: a(href="#") Contact SickKids
								li: a(href="#") Terms of Use