table.table.table-striped.border
	h3 Details
	
	tbody
		tr 
			td Department
			td Clinical Care
			td: a.btn.btn-mini Edit
		tr
			td Manager
			td 
				a(href='#') Stephen Porter
			td: a.btn.btn-mini Edit
		tr
			td Assistant
			td  
				a(href='#') Amanda Perrin
			td: a.btn.btn-mini Edit
		tr
			td Email
			td 
				a(href='davidwatts@sickkids.ca') dwatts@sickkids.ca
			td: a.btn.btn-mini Edit
		tr
			td Work Phone
			td (416)899-2395
			td: a.btn.btn-mini Edit
		tr
			td Mobile Phone
			td (416)223-2953
			td: a.btn.btn-mini Edit
		tr
			td Home Phone
			td (416)225-1123
			td: a.btn.btn-mini Edit
		tr	
			td Fax
			td (416)999-9911
			td: a.btn.btn-mini Edit
