table.table.table-striped.border
	tbody
		tr 
			td Office
			td Pediatric Care ss701
		tr
			td Manager
			td a Rob Ford
		tr
			td Assistant
			td a Billy Bob
		tr
			td email
			td a dwatts@sickkids.ca
		tr
			td phone
			td (416)899-2395
		tr
			td mobile
			td (416)223-2953
		tr
			td home
			td (416)225-1123
		tr	
			td fax
			td (416)999-9911
