.row-fluid
	.span12
		h3 Interests
		#container
		a(href="#") Guitar, 
		a(href="#") French, 
		a(href="#") Cooking, 
		a(href="#") Contemporary Art, 
		a(href="#") Cancer Research, 
		a(href="#") Politics 