include ../../patterns/mixin.jade
mixin share()

h4 Links

- var feed = {title: "Bob's Feed", items: [{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(feed)

- var work = {title: "Bob's Work", items: [{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(work)