include ../../patterns/mixin.jade

mixin share()

- var Feeds =[ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];


ul.nav.nav-list
	h4 Bob's Feed
	- each link in Feeds
		li: a(href='#') link.title
br		
ul.nav.nav-list
	h4 Bob's Work
	- each link in Feeds
		li: a(href='#') link.title