include ../../patterns/mixin.jade

mixin share()

- var Feeds =[ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

ul.nav.nav-list
	li.nav-header Feed
	- each link in Feeds
		li: a(href='#') link.title