.row-fluid
	span12
	p: h3 Projects
table.table.table-striped.border
	tbody
		tr 
			td CAT Scan Study
			td
				a(href='#') Billy Bob 
				a(href='#') Rob Ford
			td 2011-Present
		tr
			td Microcell B and Taxoplasmosis
			td
				a(href='#') Billy Bob 
				a(href='#') Rob Ford 
			td 2004-2009
			