.row
	.span8
		.row
			.span12
				include bio
		.row
			.span12
				include info
		.row
			.span12.well
				include project
		.row
			.span12
				include skills
		.row
			.span12
				include interests
		.row
			.span12
				include groups
		.row
			.span12.well
				include cv
	.span4
		.row
				include links
		
