.row-fluid
	.span8
		.row-fluid
			.span12
				include bio
		.row-fluid
			.span12
				include info
		.row-fluid
			.span12.well
				include project
		.row-fluid
			.span12
				include skills
		.row-fluid
			.span12
				include interests
		.row-fluid
			.span12
				include groups
		.row-fluid
			.span12.well
				include cv
	.span4
		.row-fluid
				include links
		
