.row
	.span8
		.row.profile
			.span2
				img(src="http://b.vimeocdn.com/ps/116/116909_300.jpg")
			.span4
				h2 David Watts
				p: em Physician | Cardiology
				type I am a doctor and I help children everyday. I love my job and I'm happy to help people with their projects and research.
				p.ipsum(length=100)
				btn.btn.btn-mini Follow
			.span1
				a.btn.btn-mini Edit
		.row
			.span8
				include info
				.profile-group
					include project
				.profile-group
					include interests
				.profile-group
					include skills
				.profile-group
					include groups

	.span3
		include links
		
