.row
	.span8
		.row.profile
			.span2
				img(src="http://b.vimeocdn.com/ps/116/116909_300.jpg")
			.span4
				h2 David Watts
				em Physician | Cariology
			.span2
				.btn-group.pull-right
					btn.btn Update Info
		.row
			.span8
				include info

				.well
					h4 Projects
					include project
				
				.profile-group
					include skills
				.profile-group
					include interests
				.profile-group
					include groups

				.well
					h4 CV
					include cv

	.span3
		include links
		
