include ../../patterns/mixin
- var groupSidebar = {items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}
mixin pageTitle("Directory", false)
.row
	.span8
		.row
			.span8
			include ../../patterns/list
			mixin listType({ type: 'people', header: ['Person','Role','Department','Updated'], context: ['Subscribe', 'Assign to group','Report individual'], items: [{ title: 'Lindsay Ellerby', assoc:'Researcher', origin:'Research',updated:'yesterday' }, { title: 'Kerem Tirmandi', assoc:'Administrator', origin:'Learning',updated:'yesterday' }, { title: 'Andrew Lovett-Barron', assoc:'Analyst', origin:'Care',updated:'two hours ago' }, { title: 'Blair Johnsrude', assoc:'Operations', origin:'Hospital',updated:'three days ago' },{ title: 'Lindsay Ellerby', assoc:'Researcher', origin:'Research',updated:'yesterday' }, { title: 'Kerem Tirmandi', assoc:'Administrator', origin:'Learning',updated:'yesterday' }, { title: 'Andrew Lovett-Barron', assoc:'Analyst', origin:'Care',updated:'two hours ago' }, { title: 'Blair Johnsrude', assoc:'Operations', origin:'Hospital',updated:'three days ago' },{ title: 'Lindsay Ellerby', assoc:'Researcher', origin:'Research',updated:'yesterday' }, { title: 'Kerem Tirmandi', assoc:'Administrator', origin:'Learning',updated:'yesterday' }, { title: 'Andrew Lovett-Barron', assoc:'Analyst', origin:'Care',updated:'two hours ago' }, { title: 'Blair Johnsrude', assoc:'Operations', origin:'Hospital',updated:'three days ago' }] })
	.span2
		.dropdown
				btn.btn(data-toggle='modal', href='#todoModal') Create a Group
		hr
		ul.unstyled
			li.active: a My Contacts (13)
			li: a All Staff (7023)
			hr
			li: a &#9654; Program Groups (6)
			li: a &#9654;  Care Groups (10)
			li: a &#9660; Research Groups (3)
				li.indent: mixin linkList(groupSidebar)
			li: a &#9654;  Learning Groups (10)
			li: a &#9654;  Recreational Groups (10)