include ../../patterns/mixin
-var Groups = ['Lindsay Ellerby', 'Kerem Tirmandi', 'Andrew Lovett-Barron', 'Blair Johnsrude', 'Robyn Polan', 'Matthew Milan', 'Genco Csomethng','Matt Nish-Lapidus', 'Mark Rato', 'Thomas Calahan', 'Tom Cruise', 'Conan Barbaran', 'Dick Dickler',]
- var groupSidebar = {items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}
mixin pageTitle("Groups", false)
.row
	.span8
		.row
			.span8
				.row-fluid.header
					.span5 People
					.span2 Role
					.span2 Department
					.span2 Last Modified
				-each group, i in Groups
					.row-fluid.forum-post
						.span1: img(src='http://placehold.it/100x100')
						.span4: strong: a(href='#publicProfile')= group
						.span2 Admin
						.span2: a(href='#groupDetail') Learning Group
						.span2 Updated today
	.span2
		.dropdown
				btn.btn(data-toggle='modal', href='#todoModal') Create a Group
		hr
		ul.unstyled
			li.active: a My Contacts (13)
			li: a All Staff (7023)
			hr
			li: a &#9654; Program Groups (6)
			li: a &#9654;  Care Groups (10)
			li: a &#9660; Research Groups (3)
				li.indent: mixin linkList(groupSidebar)
			li: a &#9654;  Learning Groups (10)
			li: a &#9654;  Recreational Groups (10)