h3 Staff Continuing Professional Devevelopment Fund
p Welcome to the SickKids Staff Continuing Professional Development Fund (SCPDF) Website.

SickKids values the continuing professional development of our staff. The SCPDF was introduced in 2009 as an evolution of the Tuition Refund Program. 

This program is available to full and part time staff* who are interested in pursuing professional development opportunities related to one of the following three streams**:
ul 
li Conferences, Workshops, Seminars and Single Courses 
li Degrees, Diplomas and Professional Designations 
li Visiting Speakers

Due to limited funding, not all applications can be approved.  In order to be supported, applications must align with the mission, values and strategic directions of the hospital.  For more information about the application, review, notification or reimbursement processes, please click on the links. 

Looking for background information, guiding principles or committee membership information?  Click on General Information. Have other questions?  Review our Frequently Asked Questions or Contact Us.

em **For nursing and professional services staff - please remember to log into ProMotion, SickKids Professional Activities Database and enter the event/course that you have attended. ProMotion can be accessed using the following link:  
	a http://kidweb.sickkids.ca/ProMotion/Login.aspx


mixin toTop()
h3#header1 General Information

h4 Background

p In 2008, the Tuition Refund Program was evaluated in light of economic conditions and it became more important than ever for SickKids to manage funds purposefully in order to achieve our mission and strategic directions. An opportunity was identified to standardize and improve how we allocate our limited resources for staff continuing development, and the SCPDF was developed. The Program is now administered by the Learning Institute.

h4 Guiding Principles

p The SCPDF is guided by the following principles:
ol
li SickKids is committed to supporting continuing learning and professional development.
li All learning supported by SickKids will be prioritized according to alignment with the mission, values and strategic directions of the Hospital.*
li Decision-making will be consistent, equitable and transparent.

*SickKids’ Mission, Vision and Values can be found online at: www.sickkids.ca/AboutSickKids/who-we-are/Vision-Mission-Values/index.html  
Our Strategic Directions can be found online at: http://kidweb.sickkids.ca/strategicdirections

h4 Outcomes

pIn 2010/2011, the SCPDF was able to provide support to 504 staff at SickKids.  This included:
ul
li Approval for 351 staff to attend conferences, workshops, seminars or single courses during the 2010 – 2011 fiscal year
li Enrollment by 153 staff in degrees, diplomas or professional designations programs during the 2010 – 2011 fiscal year

h4 Committees

p All clinical applications for funding will be reviewed and evaluated by a Clinical Review Committee. This includes the following membership: 
ul
li Chief, Interprofessional Practice and Chief Nurse Executive (Chair)
li Associate Chief of Nursing & Inter-Professional Education
li Executive Director Paediatric Programs & Transplantation
li Director, Clinical Services, Depts. of Rehabilitation Services
li Director, Child Health Service, Access Initiatives & Emergency Medicine
li Director, Clinical Services, Child Health Services

p All corporate and Research Institute-related applications for funding will be reviewed and evaluated by a Corporate Services/Research Committee. This includes the following: 
ul
li Vice President, Human Resources (Chair)
li Vice President, Finance and Chief Financial Officer
li Vice President, Corporate Strategy and Performance
li VP & Chief Information Officer 
li Director, Strategic Projects, Research Institute


mixin toTop()
h3#header2 Events and Seminars

p The SCPDF provides funding for staff to attend conferences, workshops, seminars and single courses (not part of a degree, diploma or professional designation). 


h4 Information about the application process:
ul
li The applicant’s manager must approve any paid time during conference, workshop, seminar or course attendance. 
li Applicants are encouraged to take advantage of early registration discounts whenever possible. 
li For conferences where more than one person from the organization will be in attendance, applicants are encouraged to propose sharing travel and/or accommodation costs.
li  It will be entirely the responsibility of staff to ensure they apply for funding in time to meet the registration deadline. 
li The review committee will not consider whether or not conference or travel fees have already been paid when evaluating the merit of staff applications.
li Staff must first apply for other funding (external, restricted funds, etc.) to replace or supplement the funding requested if such funding opportunities exist. 
li It is the full responsibility of staff to ensure their ENTIRE application is complete, including all sections that require input from managers, directors and VPs/Chiefs. 
li It is the full responsibility of staff to submit their application to the Learning Institute before the event occurs. Late and/or incomplete applications will not be accepted, even if the staff member completed the staff section on time. The staff  member must ensure enough time, before the application deadline, for the manager, director and VP/Chief to sign the form.

h4 Information about the review process:
ul
li All learning supported by SickKids will be prioritized according to our mission, values and strategic directions. Decision-making will be consistent, equitable and transparent.
li Applications should include the following information which will be considered in determining eligibility: 
              • Applicant’s objectives in attending the conference/workshop/seminar/course 
              • Conference brochure 
              • When, how often and from what source the applicant has been supported to attend a conference/ workshop/seminar/course in the current and previous fiscal year 
              • One paragraph description of the applicant’s plan for sharing their learning upon return from the conference/workshop/seminar/course
li Consideration will be given to staff who: 
             • Are invited as a keynote speaker, if the inviting organization is not able to cover these costs 
             • Are invited as a plenary speaker, if the inviting organization is not able to cover these costs  
             • Are attending at the request of SickKids as part of a strategic priority 
             • Have an accepted abstract for an oral or poster presentation as first or presenting author, and do not have research grant funding for the project 
             • Are presenting research findings which were not grant funded 
             • Are recommended by Managers/Directors for their professional development
li Any courses deemed to be mandatory by the Hospital will be fully reimbursed.

h4 Information about the notification process:
li Review committees meet on a monthly basis.
li Notification will be provided within six weeks of application review.
li Staff and Managers are notified via email if applications are approved.
li Managers are notified via email if applications are declined and managers will provide feedback directly to applicants. 
li This timeline assumes that an application is complete, on the proper form, and has the endorsement of the appropriate Manager, Director and VP/Chief.

h4 Information about the reimbursement process:
ul
li Reimbursable expenses will be limited to registration AND travel (including airport transfers) AND accommodation (if the conference is held more than 100 km from the applicant’s home). 
li If your application has been approved, you will receive a letter of approval that contains a section to be completed when you are ready to request reimbursement. 
li You will be required to complete and submit Staff Travel and Expense Reimbursement Form (AP-1), any other necessary Travel and Expense claim forms and attach documentation confirming that you have paid for and successfully completed the conference, workshop, seminar or single course. 
li Once you have collected all documentation with the appropriate signatures, fully complete requests for reimbursement must be submitted to the SickKids Accounts Payable Department at 180 Dundas Street West, Suite 1300 within 60 days of the conference/workshop/seminar/course end date
li  All costs incurred must be paid for by the staff attending the event and reimbursements are issued directly to staff. If needed, a travel advance can be issued using a travel advance form from the Finance website. Staff will have to provide rationale for the advance and attach their SCPDF approval letter with the travel advance form.

h4 Information about the appeal process:
ul
li If you wish to appeal the committee’s decision, please contact the SCPDF Program Coordinator at scpdf.info@sickkids.ca


mixin toTop()
h3#header Visiting Speakers

p The SCPDF provides funding for visiting speakers to provide educational opportunities for staff.

The following guidelines have been established to guide the application process for visiting speakers/lecturers:
ul
li All learning supported by SickKids will be prioritized according to alignment with the mission, values and strategic directions of the Hospital.
li The event does not charge a registration/attendance fee.
li The event must be specifically targeted towards providing an educational event to benefit internal SickKids staff only.

a Individual Event Allocation
a Application/Reimbursement Process
a Forms
 

h4 Individual Event Allocation: 
p $2,000 maximum for each event, to cover the following costs: 
ul
li Speaker or lecturer fees (meals are not eligible for reimbursement) 
li Speaker or lecturer honorarium to a maximum of $500 per speaker 
li Travel and accommodation of speaker

em Note: These funds will not cover catering expenses for the speaking event.

h4 Application/Reimbursement Process: 
p Step 1: Applications are made using the Visiting Speakers/Lecturers Application Form. Completed forms should be submitted to the Learning Institute for review by the Chief of Education, preferably six to eight weeks prior to the event date.
br
Step 2: Event organizers are notified of decisions via e-mail.
br
Step 3: Following the speaking event, attach all original receipts related to the speaker’s expenses and submit them to the Learning Institute - 525 University Ave, 6th floor, Suite 600. The Learning Institute will forward completed forms to Accounts Payable for processing.
br
em Note: If the approved reimbursement is for an honorarium only, a cheque can be processed prior to the event so that the SickKids organizer can present the honorarium to the visiting speaker/lecturer at the event.

Step 4: Reimbursements will be processed by Accounts Payable upon receipt of all required documentation. Reimbursement will be made directly to the speaker/lecturer via cheque.

Forms
      o Visiting Speaker Application Form


mixin toTop()

h3#header4 FAQ

h4 1. How does the SCPDF fund work?

p There are two forms available on KidWeb (and through RIWeb) for staff seeking support for continuing professional development. 
One form is for support for a Degrees, Diplomas or Professional Designation Program. 
The second form is for support to attend a Conference, Workshop, Seminar or Course. Single courses not part of a degree, diploma or professional designation will be considered as part of this category and should be applied for using the Conference, Workshop, Seminar or Course application form.

Applicants should complete the appropriate form and submit it to her/his Manager. The applicant will have to explain how the funding will help support SickKids’ mission, values and strategic directions. If a Manager is in support of the request, the Manager will complete and sign the Manager Declaration portion of the form. The Manager will then forward the form for comments and signatures from the employee’s Director and Vice President/Chief. If the Manager, Director and Vice President/Chief all support the employee’s request for continuing professional development support, the form will be returned to the employee. The employee should then submit the completed form to the Learning Institute.

Each application will be evaluated by a Review Committee. Managers will be notified directly with the applicant cc’d, if their applications are approved. Managers will be notified of declined applications and managers will provide feedback directly to applicants. If the application is approved, the employee will need to follow the instructions outlined on the approval letter and submit proof of successful completion, along with proof of payment, to receive reimbursement.

h4 2. Who is eligible to apply for funds through the SCPDF?

p Please see Key Terms & Concepts for this information.

h4 3. How does the SCPDF apply to the RI?

p Please see Key Terms & Concepts for this information.

h4 4. How much money am I eligible to receive for the Degrees, Diplomas, Professional Designations (tuition) program?

p Please see Degrees, Diplomas, Professional, Designations section.

h4 5. Does  the SCPDF change the expense policy in any way?

p No, staff who receive funding through the SCPDF must comply with the current Travel and Expense Reimbursement policy.

h4 6. What is a professional designation?

p Please see Key Terms & Concepts for this information.

h4 7. Which form do I use if I wish to enroll in a certificate program?

p Please use the Conferences, Workshops, Seminars and Courses application for certificate programs that do not lead to a degree, diploma or professional designation. Certificate programs are usually shorter than degree and diploma programs and provide students with a certificate of expertise in the area of study upon successful completion.

h4 8. What happens if my manager does not complete their section of my application before the deadline?

p It is the full responsibility of staff to ensure their ENTIRE application is complete, including all sections that require input from managers, directors and VPs/Chiefs. It is also the full responsibility of staff to submit their application to the Learning Institute on or before the deadline. Late and/or incomplete applications will not be accepted, even if the staff member completed the staff section on time. Ensure that you allow enough time, before the application deadline, for your manager, director and VP/Chief to sign the form.

h4 9. Are certification and/or exam fees eligible for reimbursement through the SCPDF?

p Unfortunately, requests for funding to support certification and/or exam fees are not eligible for reimbursement through the SCPDF. There are limited funds available to support staff continuing professional development and these funds have been prioritized to specifically support learning and education components.

If an exam is included as part of learning or educational experience such as a university course with a test at the end, and the focus of the education is on the learning provided prior to the exam and there is no extra fee for writing the exam (e.g. it is part of the actual course), then this would be eligible for reimbursement through the SCPDF.

However, in cases where passing an exam is required to attain certification/achieve a designation with no coursework or other associated learnings, and the associated costs cover exam fees only, then these costs are not eligible for reimbursement through the SCPDF.

h4 10. Is training for computer software/programs eligible for reimbursement through the SCPDF?

p External training in computer software/programs will be considered only when internal training opportunities are not available and the computer software/programs are currently supported by SickKids. To inquire whether the software you are requesting funding for is currently supported at SickKids, call the Help Desk at ext. 6722 or email help.desk@sickkids.ca. Note: Supported software are those that are standard and utilized hospital-wide.

h4 11. Will the SCPDF assist me on claiming my tuition reimbursements for tax purposes or write emails to the CRA?

p Please see Degrees, Diplomas, Professional, Designations section.

h3#header5 Contact Us

h4 Location:
Learning Institute
525 University Ave
6th Floor, Suite 600

h4 Hours of Operation:
Monday to Friday 0800h to 1600h.

p For more information about the SCPDF Program, please contact Sandaruwan Siriwardena, SCPDF Program Coordinator at 416.813.7654 x3596 or scpdf.info@sickkids.ca.

For questions related to the status of your reimbursement, please contact Ivone Colaco, Senior Clerk, Accounts Payable at 416.813.7654 x6880 or ivone.colaco@sickkids.ca.