include ../../patterns/mixin

//mixin breadcrumb([{title:'Learning', page:'learning'}, {title: 'Career and Professional Development', page:'careerdev'}, 
.pull-right
	mixin share()

mixin pageTitle("Career and Professional Devleopment", false)
.row
	.span8
		.subnav#subnav
			ul.nav.nav-pills
				li: a(href='#header1') General Information
				li: a(href='#header2') Events and Seminars
				li: a(href='#header3') Visiting Speakers
				li: a(href='#header4') FAQ
				li: a(href='#header5') Contact Us 
		include content
	.span2
		include ../careerdev/links