include ../../patterns/mixin.jade
a(href="news") « Back to news
mixin pageTitle("We raised 26K with Blue Streak!")
.row
	.span8
		.row
			.span8.post
					p.post-meta 
						|By 
						a Helena Troy
						| on April 19, 2012
					p.ipsum(length='2200', para='3')


	.span2
		h4 Filters
		ul.unstyled.rightNav
			li
				a All News (7000)
			hr
			li.header: h6 Pillar
			li
				a Research news (700)

			li
				a Care news (900)

			li
				a Learning news (300)

			li
				a Support news (300)
			li
				a Campaigns (3)
				
				- var archive = {title: 'Archive', items: [{title: '2012', address: '#'}, 		{title:'2011', address: '#'}]}

				mixin linkList(archive)
		hr
		.pull-right
			a Reset filters