include ../../patterns/mixin.jade

h4 Important Links

- var links = {title: 'Human Resources', items: [{title: 'All Job Openings', address: '#'},{title: 'e-HR for Staff', address: '#'},{title: 'e-HR for Leaders', address: '#'},{title: 'HR Report Centre', address: '#'},{title: 'Staff Absence Reporting System', address: 'Staff Scheduling'}, {title: 'Benefits Information', address: 'Staff Scheduling'}]}

mixin linkList(links)

- var tools = {title: 'Financial Services', items: [{title: 'Requesting Access to Restricted Funds', address: '#'},{title: 'Basic Online Ordering', address: '#'},{title: 'Energy Conservation at SickKids', address: '#'}]}

mixin linkList(tools)

- var groups = {title: 'Occupational Health and Safety', items: [{title: 'Respiratory Virus Watch', address: '#'},{title: 'Software order form', address: '#'},{title: 'Research4kids login', address: '#'},{title: 'Research4kids support', address: '#'}]}

mixin linkList(groups)

- var tools = {title: 'Information Services', items: [{title: 'EPC Tutorial', address: '#'},{title: 'InfoQuest', address: '#'},{title: 'Kidcom - Reference Guide', address: '#'},{title: 'Viruses and Virus Hoaxes', address: '#'}]}

mixin linkList(tools)


