include ../../patterns/mixin.jade
include ../../patterns/feed
mixin pageTitle("Welcome to Staff Support Resources", false)

.row
	- var Stories = [ {title: 'Filling out my intranet profile', address: 'test'}, {title: 'Where to find new info!', address: 'test'}, {title: 'Getting the most out of my department', address: 'test'}, {title: 'Learning and growing with SickKids', address: 'test'}]
	.span8
		.well
			h3: a(href='#news') New To SickKids?
			.row
				.span4
					p: img(src='http://placehold.it/300x200')
					h4: a(href='#news') Top ten things you need to know for your first week!
					p We're so happy to have you as part of the team! Here are some of the top ten things you need to know in order to hit the ground running!
						span.ipsum(length='100')
				.span4
					-each story in Stories
						.row
							.span4
								h4: a= story.title
								p.ipsum(length='100')
			.row-fluid
				.span12
					a.pull-right(href='#news') Read all tips for new employees »
		.row
			.span8
				- var Stories =[ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! corporate services survey launches today', address: 'test'} , {title: 'Borschel and Tabori honoured with Ontario Early Research Awards', address: 'test'}, {title: 'test', address: 'test'}]
				.row
					.span4
						mixin miniFeed({title: 'Support feed', updates: [{type:'news', title:'Child Care in the news', time:'2 minutes ago'},{type:'group', desc:'This is a group update that is made in the group', title:'SickKids Cyclists', time:'30min ago'},{type:'doc',title:'Policy documents',actor:'Tim Maly', time:'2 days ago'},{type:'event', desc:'Reminder to join our Friday care social on the 4th flour',title:'Friday Care Social', time:'last week'},{type:'news',title:'$1mil grant awarded to care workers', time:'2 weeks ago'}]})
					.span4
						.well
							h3 Events and Seminars
							p: a(href='#') Cardio-Pulmonary RIP and Networking Series
							p: a(href='#') Cell Biology Seminars
							p: a(href='#') Child Health Evalutaive Science Rounds
							p: a(href='#') Critical Care Medicine - Acute Care Research Rounds
							p: a(href='#') Developmental & Stem Cell Biology Seminars
							a.pull-right(href='#news') See all events »
	.span2
		include links