include ../../patterns/mixin.jade
include ../../patterns/feed.jade
include ../../patterns/user_modal.jade

mixin pageTitle("Welcome to Staff Support Resources")

.row
	- var Stories = [ {title: 'SickKids is Blazing a Streak of Blue!', address: 'test'}, {title: 'It\'s here! Corporate Services Survey launches today', address: 'test'}, {title: 'Borschel and Tabori honoured with Ontario Early Researcher Awards', address: 'test'}, {title: 'Cedarlane Life Sciences and Medical Lab Expo', address: 'test'}]
	.span8
		.well.bignews
			h3 New to SickKids?
			.row
				.span4
					h4: a(href='news') How to get started at SickKids
					p.ipsum(length='150')
					p: a(href='#') Find your HR manager
					p: a(href='#') Where to get the right help
					p: a(href='#') Your admin and your work
				.span4
					.well
						h4 Still have questions?
						p If you need any help, contact Mary-Anne Borins in Human Resources
						h6: a(href='publicProfile') Mary-Anne Borins
						p phone: 416-555-5555 ext 444
							br 
							| email: <a href="mailto:email@email.mail">maborins@sickkids.ca</a>
		.row
			.span4
				.well
					h3 Recent Job Openings
					p: a(href='#') Donations Coordinator
					p: a(href='#') Knowledge Translation and Exchange Specialist
					p: a(href='#') Clinical Research Project Assistant
					p: a(href='#') Medical Sonographer
					p: a(href='#') Senior Secretary
					p: a(href='#') Clinical Research Project Coordinator
					p: a(href='#') Project Analyst
					p: a(href='#') Psychologist Ph.D.
					a.pull-right See all openings »
			.span4
				.well
					h3 Events and Seminars
					p: a(href='#') New Hire Orientation
					p: a(href='#') Code Blue Response Seminar
					p: a(href='#') Emergency Measures
					p: a(href='#') e-Learning: Using the LMS
					p: a(href='#') Benefits Overview Session
					a.pull-right(href='news') See all events »
					
	.span2
		include links