table.table.table-striped
	
	tbody
		tr 
			td: i.icon-remove(type='Delete')
			td: a(href='#') Dog Enthusiasts
			td Last Updated: 2 months ago
		tr	
			td: i.icon-remove(type='Delete')
			td: a(href='#') Cat Enthusiasts
			td Last Updated: A minute ago
		tr 
			td: i.icon-remove(type='Delete')
			td: a(href='#') CAT Scan
			td Last Updated: 12:55 pm
		tr	 
			td: i.icon-remove(type='Delete')
			td: a(href='#') Cardiology Club
			td Last Updated: Yesterday
		tr
			td: i.icon-remove(type='Delete')
			td: a(href='#') SickKids Running Group
			td Last Updated: Three Days Ago
		tr 
			td: i.icon-remove(type='Delete')
			td: a(href='#') Healthwatch
			td Last Updated: A month ago
							
								
