.row
	.span8
		.row
			.span8
				h2 Groups
				
				table.table.table-striped

					tbody
						tr 
							td: i.icon-remove(type='Delete')
							td: a#groupDetail(href='#') Dog Enthusiasts
							td Last Updated: 2 months ago
						tr	
							td: i.icon-remove(type='Delete')
							td: a#groupDetail(href='#') Cat Enthusiasts
							td Last Updated: A minute ago
						tr 
							td: i.icon-remove(type='Delete')
							td: a#groupDetail(href='#') CAT Scan
							td Last Updated: 12:55 pm
						tr	 
							td: i.icon-remove(type='Delete')
							td: a#groupDetail(href='#') Cardiology Club
							td Last Updated: Yesterday
						tr
							td: i.icon-remove(type='Delete')
							td: a#groupDetail(href='#') SickKids Running Group
							td Last Updated: Three Days Ago
						tr 
							td: i.icon-remove(type='Delete')
							td: a#groupDetail(href='#') Healthwatch
							td Last Updated: A month ago


