include ../../patterns/mixin
-var Groups = ['Group name', 'another group name', 'yet another group name']
- var groupSidebar = {items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}
mixin pageTitle("Groups", false)
.row
	.span8
		.row
			.span8
				.row-fluid
					.span6 Group Name
					.span3 Admin
					.span3 Last Modified
				-each group in Groups
					.row-fluid.forum-post
						.span1: img(src='http://placehold.it/100x100')
						.span5: strong: a(href='#groupDetail')= group
						.span3: a(href='#profile') Admin name
						.span3 Last updated 12 minutes ago
	.span3
		.btn-group.dropdown
				btn.btn(type='button') Create a Group
				btn.btn.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
				ul.dropdown-menu
					li: a Department group
					li: a Project group
					li: a Ad-hoc group
					li.divider
					li: h6 All groups have to be approved by administration.
		hr
		ul.unstyled
			li: a Program Groups (6) &#9654;
			li: a Department Groups (10) &#9654; 
			li: a Project Groups (3) &#9660;
				li: mixin linkList(groupSidebar)
			li: a All groups (40) &#9654;