include ../../patterns/mixin
-var Groups = ['Group name', 'another group name', 'yet another group name']
- var groupSidebar = {items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}
mixin pageTitle("Groups", false)
.row
	.span8
		.row
			.span8
				.row-fluid
					.span6 Group Name
					.span3 Admin
					.span3 Last Modified
				-each group in Groups
					.row-fluid.forum-post
						.span1: img(src='http://placehold.it/100x100')
						.span5: strong: a(href='#groupDetail')= group
						.span3: a(href='#profile') Admin name
						.span3 Last updated 12 minutes ago
	.span3
		.dropdown
				btn.btn(data-toggle='modal', href='#todoModal') Create a Group
		hr
		ul.unstyled
			li: a My groups (10)
			li: a All groups (274)
			hr
			li: a &#9654; Program Groups (6)
			li: a &#9654;  Care Groups (10)
			li: a &#9660; Research Groups (3)
				li.indent: mixin linkList(groupSidebar)
			li: a &#9654;  Learning Groups (10)
			li: a &#9654;  Recreational Groups (10)