include ../../patterns/mixin
- var groupSidebar = {items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}
mixin pageTitle("My Groups", false)
.row
	.span8
		include ../../patterns/list
		mixin listType({ type: 'group', dropdown: ['Sort alphabetically','Sort by recent activity'],header: ['Group Name','Pillar','Admin','Updated'], context: ['Leave Group'], items: [{ title: 'Cardiac Connections', address: '#group2', assoc:'Care', origin:'SickKids',updated:'yesterday' }, { title: 'Research Team', assoc:'Research', origin:'Janice Nicholson',updated:'yesterday' }, { title: 'Hemotology Sciences', assoc:'Research', origin:'Peter Jim',updated:'two hours ago' }, { title: 'SickKids Cyclists', assoc:'Hospital', origin:'Tim Maly',updated:'three days ago' }, { title: 'Shop \'n Swap', assoc:'Research', origin:'Jerry Johnson',updated:'yesterday' }, { title: 'Clincical Hemotology', assoc:'Care', origin:'Tim Maly',updated:'yesterday' }, { title: 'Fluid Dynamics Reading Group', assoc:'Learning', origin:'Bob Watts',updated:'yesterday' }] })
	.span2
		.dropdown
			btn.btn(data-toggle='modal', href='#todoModal') Create a Group
		hr
		h3 Filters
		ul.unstyled.rightNav
			li
				a My groups (10)

			li
				a All groups (274)

			hr
			li.header: h6 Type:
			li
				a Department (700)

			li
				a Program (900)

			li
				a Team (300)

			li
				a Centres (300)

			li
				a Project (75)

			li
				a Social (1500)

			hr
			li.header: h6 Pillar:
			li
				a Research (700)

			li
				a Care (900)

			li
				a Learning (300)

			li
				a Support (300)

		hr
		.pull-right
			a Reset filters