.row
	.span8
		.row
			.span8
				h2 Groups
				
				table.table.table-striped

					tbody
						tr 
							td: i.icon-remove(type='Delete')
							td: a(href='#groupDetail') Dog Enthusiasts
							td Last Updated: 2 months ago
						tr	
							td: i.icon-remove(type='Delete')
							td: a(href='#groupDetail') Cat Enthusiasts
							td Last Updated: A minute ago
						tr 
							td: i.icon-remove(type='Delete')
							td: a(href='#groupDetail') CAT Scan
							td Last Updated: 12:55 pm
						tr	 
							td: i.icon-remove(type='Delete')
							td: a(href='#groupDetail') Cardiology Club
							td Last Updated: Yesterday
						tr
							td: i.icon-remove(type='Delete')
							td: a(href='#groupDetail') SickKids Running Group
							td Last Updated: Three Days Ago
						tr 
							td: i.icon-remove(type='Delete')
							td: a(href='#groupDetail') Healthwatch
							td Last Updated: A month ago


