include ../../patterns/mixin
-var Groups = ['Group name', 'another group name', 'yet another group name']

.row
	.span8
		.row
			.span8
				.pull-right
					.btn-group.dropdown
							btn.btn(type='button') Create a Group
							btn.btn.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
							ul.dropdown-menu
								li: a Share
								li: a Leave group
								li: a Admin page
				h2 Groups
				-each group in Groups
					.row-fluid.forum-post
						.span1: img(src='http://placehold.it/100x100')
						.span9
							.row-fluid
								.span12: h4: a(href='#groupDetail')= group
							.row-fluid
								.span6: h6 Pillar
								.span6: h6 Last updated 12 minutes ago
						.span2.btn-group.dropdown
								btn.btn.btn-mini(type='button') Open
								btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
								ul.dropdown-menu
									li: a Share
									li: a Leave group
									li: a Admin page
			.span3