table.table.table-striped.border
	h3 Details
	tbody
		tr 
			td Department
			td Clinical Care
		tr
			td Manager
			td 
				a(href='#') Stephen Porter
		tr
			td Assistant
			td  
				a(href='#') Amanda Perrin
		tr
			td Email
			td 
				a(href='davidwatts@sickkids.ca') dwatts@sickkids.ca
		tr
			td Work Phone
			td (416) 899-2395
		tr
			td Mobile Phone
			td (416) 223-2953
		tr
			td Home Phone
			td (416) 225-1123
		tr	
			td Fax
			td (416) 999-9911