h4 Bob's Work

- var feed = {title: "Projects", items: [{title: 'EPC Tutorial', address: '#news'},{title: 'IV Pump Project', address: '#news'},{title: 'Code Blue Response Team', address: '#news'},{title: 'Community Care Access Centre', address: '#news'}]}
mixin linkList(feed)

- var work = {title: "Documents", items: [{title: 'Document One', address: '#news'},{title: 'Document Two', address: '#news'},{title: 'Document Three', address: '#news'},{title: 'Document Four', address: '#news'}]}
mixin linkList(work)

- var groups = {title: 'Active Groups', items: [{title: 'Critical Care Medicine Program (CCMP)',nodelete: true, address: '#'}, {title: 'IV Pump Project',nodelete: true, address: '#'},{title: 'Cardiac Connections',nodelete: true, address: '#'},{title: 'Centre for Nursing',nodelete: true, address: '#'},{title: 'Community Care Access Centre',nodelete: true, address: '#'},{title: 'MDCentre',nodelete: true, address: '#'},{title:"All Groups »", address:"/groups"}]}

mixin linkList(groups)