h4 Links

- var feed = {title: "Bob's Feed", items: [{title: 'Link', address: '#news'},{title: 'Link', address: '#news'},{title: 'Link', address: '#news'},{title: 'Link', address: '#news'}]}
a.btn.btn-mini.pull-right(class='#subscruption')
	i.icon-plus
	| Subscribe
mixin linkList(feed)

- var work = {title: "Bob's Work", items: [{title: 'Link', address: '#news'},{title: 'Link', address: '#news'},{title: 'Link', address: '#news'},{title: 'Link', address: '#news'}]}
a.btn.btn-mini.pull-right(class='#subscruption')
	i.icon-plus
	| Subscribe
mixin linkList(work)