include ../../patterns/mixin.jade

.row
	.span8
		.row.profile
			.span2
				img(src="http://b.vimeocdn.com/ps/116/116909_300.jpg")
			.span6
				mixin subscribe()
				h2 Bob Watts 
				p: em Physician | Cardiology
				type I am a doctor and I help children everyday. I love my job and I'm happy to help people with their projects and research.
				p.ipsum(length=100)
		.row
			.span8
				include info
				hr
		.row
			.span4
				table.table.table-striped.border
					h3 More About Me
					tbody
						tr 
							td Responsibilities
							td Clinical Care, Bed-side Care, Patient Management, Team Management, Another thing, Another thing, And even more, Clinical Care, Bed-side Care, Patient Management, Team Management, Another thing, Another thing, And even more
						tr
							td Skills
							td JavaScript, CSS, HTML5, InDesign, Emailing
						tr
							td Projects
							td	
								a(href='#') Cardiology Research Project, 
								a(href='#') Doctors Building Project, 
								a(href='#') Kids Learning Project
						tr
							td Groups
							td 
								a(href='#') Cardiology Group, 
								a(href='#') Doctor's Group, 
								a(href='#') Clinical Care Group
						tr
							td Interests
							td Cooking, Skiing, Research, Writing, Running

			.span4
				.well
					include ../../patterns/feed
					mixin miniFeed({personal: false, mini: true, title: 'Bob\'s Feed', updates: [{type:'profile', actor:'Bob Watts', title:'Bob updated his profile', time:'2 minutes ago'},{type:'doc',title:'List of honours', actor:'Bob Watts', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'Cyclist Salsa party', time:'last week'},{type:'news',source:'Care',actor:'Bob Watts', title:'Forward Thinking Patient Care', time:'2 weeks ago'}]})
	.span2
		include links