include mixin

.row-fluid		
	.span12
		ul.nav.nav-pills.pull-left
			li.active: a(href='day', data-toggle="pill") Day
			li: a(href='week', data-toggle="pill") Week
			li: a(href='month', data-toggle="pill") Month
			li: a(href='year', data-toggle="pill") Year

.tab-content
	#day.tab-pane.active
		.row-fluid
			.span3
				i.icon-circle-arrow-left.pull-right
			.span6(style='text-align: center')
				h4 April 21 (week 4)
			.span3
				i.icon-circle-arrow-right.pull-left
		.row-fluid
			.span12
				table.table.table-bordered
					thead
						tr
							th(columns='7', style='text-align: center') Sunday
						tr.row-fluid
							th(columns='1').span1
								- for(i=0;i < 23;i++)
									p #{i}:00
							th(columns='6').span11
							
	#week.tab-pane
		.row-fluid
			.span4
				i.icon-circle-arrow-left.pull-right
			.span4(style='text-align: center')
				h4 April 21-28 (week 4)
			.span4
				i.icon-circle-arrow-right.pull-left
		.row-fluid
			.span12
				table.table.table-bordered
					thead
						tr
							th
							th S
							th M
							th T
							th W
							th T
							th F
							th S
						tr
							th
								- for(i=0;i < 23;i++)
									p #{i}:00
	#month.tab-pane
		mixin calendar()