-var post = ['test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test']

include mixin

.row
	.span8
		h3 Documents
	.span4
hr
-each item in post
	mixin document(item)