-var post = ['test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test']

include mixin

.row-fluid
	.span12
		h2 Documents
		-each item in post
			mixin document(item)