-var post = ['test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test','test']

include mixin

.row-fluid
	.span8
		h3 Forum
	.span4
		mixin share()
hr
-each item in post
	mixin forumPost(item)