#todoModal.modal
	.modal-header
		btn.closeModal.pull-right(data-dismiss='modal') x
		h3 Create an To Do
	.modal-body
		mixin form({title:'Create a To Do', fields: [ { label: 'To Do',type:'text' }, { label: 'Due date?', type: 'checkbox'}]})
		.calendarView.hide
			mixin calendar()
	.modal-footer
		a.btn.close Close
		a.btn.btn-primary.saveModal(href='calendarSuccess') Save