include mixin

#calendarModal.modal
	.modal-header
		btn.closeModal.pull-right(data-dismiss='modal') x
		h3 Create an Event
	.modal-body
		mixin form({title:'Create an event', fields: [ { label: 'Name of event',type:'text' }, { label: 'Start Date', type: 'date'}, {label: 'End Date', type:'date'}, { label: 'Attendees', type: 'person'} ]})
	.modal-footer
		a.btn.close Close
		a.btn.btn-primary.saveModal(href='#calendarSuccess') Save

#calendarSuccess.modal.success
	.modal-header
		btn.closeModal.pull-right(data-dismiss='modal') x
		h3 Success!
	.modal-body Your event has been successfully created, and invitations have been sent out.
	.modal-footer
		a.btn.btn-primaryclose(data-dismiss='modal') Close