.modal-header
	h3 <span style="font-weight: 300">Poll results</span> What do you think of this poll?
.modal-body
	.row-fluid
		.span2 60%
		.span6.progress
			.bar(style="width: 40%;")
		.span4 3 answers
	.row-fluid
		.span2 70%
		.span6.progress
			.bar(style="width: 10%;")
		.span4 1 answers
	.row-fluid
		.span2 80%
		.span6.progress
			.bar(style="width: 90%;")
		.span4 7 response
	.row-fluid
		.span2 90%
		.span6.progress
			.bar(style="width: 70%;")
		.span4 5 response