include ../../patterns/mixin
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

mixin pageTitle("Activity Feed", false)

.row
	.span8
		.row.posts
		include ../../patterns/feed
		mixin miniFeed({personal: false, noSubscribe: true, updates: [{type:'profile', actor:'Bob Watts', title:'Bob updated his profile', time:'2 minutes ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'}]})
	.span2
		h3 Filters
		hr
		ul.unstyled.rightNav
			li
				a All News (7000)
			li
				a Research News (10)
			li
				a All my subscriptions (4000)
			hr
			li.header: h6 Type:
			li
				a Groups (700)
				.dropdown.pull-right

			li
				a People (900)
				.dropdown.pull-right

			li
				a Documents (300)
				.dropdown.pull-right

			li
				a Events (300)
				.dropdown.pull-right

			hr
			li.header: h6 Pillar:
			li
				a Research (700)
				.dropdown.pull-right

			li
				a Care (900)
				.dropdown.pull-right

			li
				a Learning (300)
				.dropdown.pull-right

			li
				a Support (300)
				.dropdown.pull-right

		hr
		.pull-right
			a Reset filters
