include ../../patterns/mixin
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

mixin pageTitle("Subscriptions", false)

.row
	.span8
		.row-fluid
			.span6.dropdown
				a.btn.dd-toggle(data-toggle='dropdown', data-target='#') Show all &#9660;
				ul.dropdown-menu
					li: a Show all
					li: a Unread only
					li: a Favorited only
					li: a My groups only
						
			.span6
				.btn-group.pull-right.sub-buttons
					.btn.btn: i.icon-arrow-up
					.btn.btn: i.i.icon-arrow-down
				.btn-group.pull-right.sub-buttons
					.btn.btn: i.icon-list
					.btn.btn: i.i.icon-tasks
		.row.posts
			.span8
				.row-fluid.post
					.span1: img(src='http://placehold.it/100x100')
					.span10
						.row-fluid
							.span12: h4: a This is an expanded subscription item
							p.ipsum
						.row-fluid.post-meta
							.span6 12 minutes ago from 
								a Feed Name
							.span6
								.pull-right: mixin share()

				-each story in Stories
					.row-fluid.post.closed
						.span1: img(src='http://placehold.it/100x100')
						.span11
							h4: a= story.title
							p.post-meta 12 minutes ago from 
								a Feed Name
	.span2
		h4 My Subscriptions

		- var groups = {title: "Groups", items: [{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'}]}

		mixin linkList(groups)

		- var people = {title: "People", items: [{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'}]}

		mixin linkList(people)
		
		- var news = {title: "News", items: [{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'},{title: 'Feed Name (4)', address: '#'}]}

		mixin linkList(news)