include ../../patterns/mixin
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

.row-fluid
	.span8
		.row-fluid
			.span6
				p filter
			.span6
				p expand/collapse
		.row-fluid.feedItem
			.span12
				h3 Item Header
				p Item description
	.span4
		h4 Subscriptions
		ul.nav.nav-list
			li.nav-header Groups
			li
				a Feed Name (23)
				a Feed Name (23)
				a Feed Name (23)
			li.nav-header People
			li
				a Feed Name (23)
				a Feed Name (23)
				a Feed Name (23)