include ../../patterns/mixin
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

mixin pageTitle("Activity Feed", false)

.row
	.span8
		.row-fluid
			.span6.dropdown
				a.btn.dd-toggle(data-toggle='dropdown', data-target='#') Show all &#9660;
				ul.dropdown-menu
					li: a Show all
					li: a Unread only
					li: a Favorited only
					li: a My groups only
						
			.span6
				.btn-group.pull-right.sub-buttons
					.btn.btn: i.icon-arrow-up
					.btn.btn: i.i.icon-arrow-down
				.btn-group.pull-right.sub-buttons
					.btn.btn: i.icon-list
					.btn.btn: i.i.icon-tasks
		.row.posts
			.span8
				.row-fluid.post
					.span1: img(src='http://placehold.it/100x100')
					.span10
						.row-fluid
							.span12: h4: a This is an expanded subscription item
							p.ipsum
						.row-fluid.post-meta
							.span6 12 minutes ago from 
								a Feed Name
							.span6
								.pull-right: mixin share()

				-each story in Stories
					.row-fluid.post.closed
						.span1: img(src='http://placehold.it/100x100')
						.span11
							h4: a= story.title
							p.post-meta 12 minutes ago from 
								a Feed Name
	.span2
		hr
		ul.unstyled.rightNav
			li
				a All News (7000)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
			li
				a Research News (10)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
			li
				a All my subscriptions (4000)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
			hr
			li.header: h6 Type:
			li
				a Groups (700)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a People (900)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Documents (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Events (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			hr
			li.header: h6 Pillar:
			li
				a Research news (700)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Care news (900)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Learning news (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			li
				a Support news (300)
				.dropdown.pull-right
					btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#') &#9660;
					ul.dropdown-menu
						li: a Sort by new
						li: a Sort by old
						li.divider
						li: a Unsubscribe
			hr
		.pull-right
			a Reset search