include ../../patterns/mixin
- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing it out', address: 'test'} , {title: 'Testing testing', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];

mixin pageTitle("All Activity", false)

.row
	.span8
		.posts
			include ../../patterns/feed
			mixin miniFeed({personal: false, noSubscribe: true, updates: [{type:'profile', actor:'Bob Watts', title:'Bob updated his profile.', time:'2 minutes ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'},{type:'doc',title:'List of Honours', actor:'Lindsay Ellerby', time:'2 days ago'},{type:'event',actor:'Bob Watts', title:'General Assembly May 2012', time:'last week'},{type:'news',source:'research',actor:'Helena Troy', title:'Message from the Chief of Research', time:'2 weeks ago'}]})
	.span2
		h4 Filters
		ul.unstyled.rightNav.activityFilters
			li
				a All News
					span.number  (7000)
			li
				a Research News
					span.number  (10)
			li
				a All my subscriptions
					span.number  (4000)
			hr
		ul.unstyled.rightNav.activityFilters
			li.header: h6 Type
			li
				a Groups
					span.number  (700)
				.dropdown.pull-right

			li
				a People
					span.number  (900)
				.dropdown.pull-right

			li
				a Documents
					span.number  (300)
				.dropdown.pull-right

			li
				a Events 
					span.number  (300)
				.dropdown.pull-right

			hr
		ul.unstyled.rightNav.activityFilters
			li.header: h6 Pillar
			li
				a Research
					span.number  (700)
				.dropdown.pull-right

			li
				a Care
					span.number  (900)
				.dropdown.pull-right

			li
				a Learning
					span.number  (300)
				.dropdown.pull-right

			li
				a Support
					span.number  (300)
				.dropdown.pull-right

		hr
		.pull-right
			a.resetAll Reset filters
