.row-fluid
	form-horizontal.span12.well
		label First 
			input (type='text': class='span3')
		label Last 
		input (type='text': class='span3')
		hr
		label Office
			input (type='text': class='span3')
		label Manager
			input (type='text': class='span3')
		label Assitant
			input (type='text: class='span3')