form-horizontal

	.row
		.span3.well
			p: img(src="http://b.vimeocdn.com/ps/116/116909_300.jpg")
			.btn-group.pull
				btn.btn Change
		.span7.well
			label First 
				input (type='text': class='span3')
			label Middle
				input (type='text': class='span3')
			label Last 
				input (type='text': class='span3')
			.btn-group.pull-right
				btn.btn Save Changes
			.btn-group.pull-right
				btn.btn Cancel

	.row
		.span11
			h3 Contact Information
		.span11.well
			.row
				.span4
			Label Office
			input (type='text', class='span3')
			label Manager
				input (type='text': class='span3')
			label Assitant
				input (type='text': class='span3')
			.btn-group.pull-right
				btn.btn Save Changes
			.btn-group.pull-right
				btn.btn Cancel
			label email 
				input (type='text': class='span3')
			select.span2
				option Everyone
				option Department
				option Only Me
			label Office
				input (type='text': class='span3')
			label Mobile
				input (type='text': class='span3')
			label Home 
				input (type='text': class='span3')
			label Fax 
				input (type='text': class='span3')
			label Mobile Number
				input (type='text': class='span3')
				.btn-group.pull-right
					btn.btn Save Changes
				.btn-group.pull-right
					btn.btn Cancel