form-horizontal
	.row-fluid.span12.well
		h3 Skills
		.form-inline
			input(type="text", class="span2", placeholder="School...")
			input(type="text", class="span2", placeholder="Degree...")
			input(type="text", class="span2", placeholder="From...")
			input(type="text", class="span2", placeholder="To...")

		table.table.table-striped
			tbody
				tr 
					td: i.icon-remove(type='Delete')
					td Brown University
					td Bs-Microbiology
					td 2000-2004
				tr
					td: i.icon-remove(type='Delete')
					td University of Toronto
					td MD
					td 2004-2009
			
