form-horizontal
	.row.span12.well
		h3 Projects
			table.table.table
				tbody
					tr
						td
							input(type="text", class="span8", placeholder="Project Name...")
						td
							input(type="text", class="span8", placeholder="Participants...")
						td
							input(type="text", class="span8", placeholder="From...") - 
						td
							input(type="text", class="span8", placeholder="To...")
						td
							i.icon-plus(type='Add')
						
							

		table.table.table-striped
			tbody
				tr 
					td: i.icon-remove(type='Delete')
					td CAT Scan Study
					td
						a(href='#') Billy Bob 
						a(href='#') Rob Ford
					td 2011-Present
				tr
					td: i.icon-remove(type='Delete')
					td Microcell B and Taxoplasmosis
					td 
						a(href='#') Billy Bob 
						a(href='#') Rob Ford
					td 2004-2009
