form-horizontal
	.row-fluid.span12.well
		h3 Projects
			.form-inline
				input(type="text", class="span2", placeholder="Project Name...")
				input(type="text", class="span2", placeholder="Participants...")
				input(type="text", class="span2", placeholder="From...")
				input(type="text", class="span2", placeholder="To...")

		table.table.table-striped
			tbody
				tr 
					td: i.icon-remove(type='Delete')
					td CAT Scan Study
					td
						a(href='#') Billy Bob 
						a(href='#') Rob Ford
					td 2011-Present
				tr
					td: i.icon-remove(type='Delete')
					td Microcell B and Taxoplasmosis
					td 
						a(href='#') Billy Bob 
						a(href='#') Rob Ford
					td 2004-2009
