.row
	.span11
		h2 Edit Profile
		.row
			.span11
				include bio
		.row
			.span11
				include skills
		.row
			.span11
				include interests
		.row
			.span11
				include groups
		.row
			.span11
				include projects
		.row
			.span11
				include cv