.row
	.span8
		.row
			.span12
				include bio
		.row
			.span12
				include skills
		.row
			.span12
				include interests
				.row
					.span12
						include groups
						.row
							.span12
								include projects
								.row
									.span12
										include cv