.row-fluid
	.span8
		.row-fluid
			.span12
				include bio
		.row-fluid
			.span12
				include skills
		.row-fluid
			.span12
				include interests
				.row-fluid
					.span12
						include groups
						.row-fluid
							.span12
								include projects
								.row-fluid
									.span12
										include cv