h3 About Us
p GMO is responsible for overseeing all grants management related activities, such as compliance with Hospital and granting agencies' policies, educating and informing Research Institute leadership on new regulations of granting agencies, recommending or updating institutional policies or procedures to ensure compliance with granting agencies' policies and regulations, managing funded research agreements, communicating funding opportunities to SickKids researchers and managing the grant approval process. GMO is also responsible for overseeing the fiduciary and financial management of all externally funded research grants, (excluding  
	a(href='#') GRIA - Government Research Infrastructure Awards), 
	| which equates to approximately $75 million annually and roughly 2,000 cost centres.
.well
	h4 Patient Care Funds
	p The GMO does not manage patient care funds. If you need assistance with those funds please contact Sandra adshaw, Director of Finance - Patient Care, ext. 8374.		

mixin toTop()
h3#header1 Our Services
h5 Services and activities - Grant application stage

h6 Consulting and compliance
ul
	li Provides advice on the internal grant approval process including internal peer review
	li Provides advice on budget preparation (for clinical studies, please consult with the Clinical Research Office)
	li Provides advice and information on granting agencies' guidelines/policies (e.g. progress reports, leave of absence, termination, use of grant funds) and application forms
	li Provides advice on transfer process for grants and awards from one institution to another
	li Ensures compliance with granting agency policies
	li Liases/corresponds with internal and external researchers, support staff, representatives from granting agencies and collaborating institutions
	li Coordinates institutional signatures for external research grant and award applications
	li Assigns department ID numbers (cost centres)
	li Manages the Research Institute New Ideas Competition
	li Manages research funded agreements
	li Manages database and provide funding information for external grants and awards

h5 Services and activities - Post-award stage
ul
	li Consulting and compliance
	li Provides financial forecast of available funds
	li Produces variance analysis of funds (budget versus actual)
	li Provides fund consultations and business planning

h6 Compliance
ul
	li Prepares financial statements/statements of accounts to granting agencies
	li Prepares documentation/reconciliation for financial audits of grants
	li Ensures compliance with granting agency policies
	li Liases/corresponds with granting agencies
	li Prepares month-end management reports

h6 Accounting
ul
	li Transfers of expenses between grants
	li Overhead income allocations
	li Prepares invoices for recoveries (ie.Heart & Stroke, NIH subcontracts, etc)
	li Processes internal billings (ie. Lab Animal Services)
	li Closing Grants (ensuring payroll charges, VISA cards, etc have been transferred when grant ends)
	li Credit card terminal for research funds (used by facilities instead of external invoicing) 
	li Deposits research cheques

h6 Inquiries
ul
	li Verifies fund balances/expense inquiries
	li Accounts receivable collections and inquiries
	li Check deposit inquiries
	li Assists in providing the proper contact person in non-research financial services queries
	li Processes billings through credit card terminal


h5 Who is my Grant Accountant?
p To better assist you in locating your assigned Grant Accountant, please utilize the following Acrobat file. Each Principal Investigator is listed alphabetically on the left hand side followed by their respective Grant Accountant on the right hand side.
| If you require assistance with a government grant, please contact your project accountant or business analyst listed on the contacts page of the Government Research Infrastructure Awards (GRIA) home page.
p: a(href='#') Download File »

mixin toTop()
h3#header2 Upcoming Grants & Deadlines
.well
	p The information available on this page is not a comprehensive listing of current funding opportunities. 

	p To search for a more comprehensive listing of funding opportunities, please visit the following websites: University of Toronto Finding Funding, Community of Science or relevant granting agency. On the right of this page are quick links to these resources.

	
p: h6 IPO Funding Opportunity: FedDev Ontario ARC Initiative Extention
p A $15M commercialization funding opportunity entitled the Applied Research and Commercialization Extension Initiative through FedDev Ontario has just been announced. 
	a(href='#') More Information »
em Deadline: May 7, 2012

p: h6 Autism Speaks - RFA release
p The Autism Speaks Science Grants Department is pleased to announce the release of new Request for Applications. Application deadlines range from January to May 2012. 
	a(href='#') More Information »
em Deadline: May 10, 2012

P: h6 Gates Foundation grant opportunities (Grand Challenges Explorations)
p The Bill & Melinda Gates Foundation is inviting innovators to apply for two grant opportunities, Treat Challenges Explorations and HIV Diagnostics. The deadline for Grand Challenges Explorations is May 15. 
	a(href='#') More Information »
em Deadline: May 15, 2012

p: h6 Gates Foundation grant opportunities (HIV Diagnostics)
p The Bill & Melinda Gates Foundation is inviting innovators to apply for two grant opportunities, Treat Challenges Explorations and HIV Diagnostics. The deadline for HIV Diagnostics is May 18.
	a(href='#') More Information »
em Deadline: May 18, 2012

mixin toTop()
h3#header3 Resources and Links
h4 Forms 
h5 Application Stage
p Unless otherwise, indicated the following forms are in Word format.

h6 Notice of Application form

em NOTE: If you're having difficulty completing the PDF online using your browser, download the form to your hard drive and open it directly in Acrobat.

h6 How to complete the form
ul
	li: a Guidelines for completion [.pdf]
	li: a(href='#') Guidelines for completion [Web page]

h6 Download the Notice of Application form
ul
	li: a(href='#') Notice of Application Form [.pdf]
	li: a(href='#') Notice of Application Form [Word doc]

h6 Work forms
ul
	li: a(href='#') Research Grant Application Checklist [Word doc]
	li: a(href='#') Research Grant Application Checklist [.pdf]

h6 Review forms
ul
	li: a(href='#') Reviewers Report Form - Animals, Hazardous Materials & Humans [.pdf]
	li: a(href='#') Contract Assessment Form

h6 Research Ethics Board
p For multi-stage projects where activities involving humans will only take place in the future and the research methodology is not sufficiently developed to prepare a complete ethics submission, 'approval in principle' must be obtained in order to release research funds for non-human subjects activities. Please complete and submit a copy to the REB office for approval in principle.
ul
	li: a(href='#') Request for funding release prior to ethics review (In-principle approval)

h6 Animal Care Committee

p For multi-stage projects where activities involving animals will only take place in the future and the research methodology is not sufficiently developed to prepare a complete ethics submission, 'approval in principle' must be obtained from ACC in order for the release of research funds for non-animal experiments. Please complete and submit a copy to ACC for approval in principle.
ul
	li: a(href='#') Request for funding release prior to animal review (In-principle approval)

h6 Scientific Peer Review for Animal Use Protocols

p Visit the 
	a(href='#') Scientific Peer Review for Animal Use Protocols 
	| section for full details on completing these forms.
ul
	li: a(href='#') Peer Review Submission [Acrobat 64 kb]
	li: a(href='#') Animal Use Protocol [Word doc 74 kb]

h6 NIH forms
ul
	li: a(href='#') Visit our NIH section »»

h4 Post-Award

p Unless otherwise indicated, the following forms are in Excel format.
ul
	li: a(href='#') Budgeting Template
	li: a(href='#') Expense Transfer Form
	li: a(href='#') Authorized Signatories Form
	li: a(href='#') Research Expense Listing
	li: a(href='#') Closing a Cost Centre - checklist
	li: a(href='#') Research Financial System Department Security Profile (includes Information Update Form)
	li: a(href='#') Miscellaneous Deposit Form
	li: a(href='#') MediAR - new client and payor request form
	li: a(href='#') Setup of Petty Cash for Research Expenses 

p If you require an invoice to be sent, contact your grant accountant.

h6 Accounts Payable
ul 
	li: a(href='#') Cheque Requisition
	li: a(href='#') Travel Advance Requisition (Download from KidWeb)
	li: a(href='#') Travel Reimbursement Form (Download from KidWeb)
	li: a(href='#') BMO Mastercard Corporate Purchasing Card application and limit increase form (Download from KidWeb)

h6 Foundation forms

p More information on 
	a(href='#') requesting access to restricted funds.
ul
	li: a(href='#') Links to disbursement fund forms (Word docs on KidWeb).

h6 Eligible Expenses
ul 
	li: a(href='#') NCIC Check List
	li: a(href='#') CIHR Non-Eligible Expenses Checklist

h6 Procurement forms
ul
	li: a(href='#') Sole Source form [Word doc on KidWeb]
	li: a(href='#') Research Institute Purchasing Evaluation form (under 100K) [Word doc]


mixin toTop()
h3#header4 Important Contacts

h4 Grant Application Stage

h5 Rebbie Pamintuan, Manager, Grants Management Office
ul
	li Room: 5289B, Black Wing
	li Telephone: 6895
	li email: 
		a rebbie.pamintuan@sickkids.ca

h5 Delise Hall, Coordinator
ul
	li Room: 5252, Black Wing
	li Telephone: 6894
	li email: 
		a delise.hall@sickkids.ca

h5 Marisol Nurse, Assistant Coordinator
ul
	li Scientist surnames: A - L
	li Room: 5252, Black Wing
	li Telephone: 2255
	li email: 
		a marisol.nurse@sickkids.ca

h5 Gisele Guimaraes, Assistant Coordinator
ul
	li Scientist surnames: M - Z
	li Room: 5252, Black Wing
	li Telephone: 4491
	li email:
		a gisele.guimaraes@sickkids.ca

h5 John Kearney, Senior Coodinator
ul
	li Room:  5290B, Black Wing
	li Phone:  28143
	li email: 
		a john.kearney@sickkids.ca

h5 Katrina Haasen, Grants Contracts Specialist
ul
	li Room:  5252, Black Wing
	li Phone:  4354
	li email: 
		a katrina.haasen@sickkids.ca

p: em Please note that Legal Services is responsible for the review and negotiating of all industry agreements.

h4 Post-award
p: b Jennifer Azevedo-Young, Controller
ul 
	li Room: 5289A, Black Wing
	li Telephone: 7684
	li email: 
		a jennifer.azevedo-young@sickkids.ca

p: b Shelley Anderson, Senior Financial Operations Analyst
ul 
	li 12-306, 101 College (TMDT/MaRS)
	li Telephone: 1391, Fax: 2212
	li email: 
		a shelley.anderson@sickkids.ca

p: b Florin Argane, Senior Grant Accountant
ul
	li Room: 5290E, Black Wing
	li Telephone: 8967 
	li email: 
		a florin.argane@sickkids.ca

p: b Nana Boampong, Junior Grant Accountant
ul 
	li Room: 5401, Black Wing
	li Telephone: 6462
	li email:
		a nana.boampong@sickkids.ca

p: b Lilibeth Catajoy, Grant Accountant
ul
	li Room: 1060, 525 University Avenue, 10th floor
	li Telephone: 28985
	li email: 
		a lilibeth.catajoy@sickkids.ca

p: b Jamie Thorburn, Junior Grant Accountant
ul
	li Room 5401, Black Wing
	li Telephone: 5898
	li email: 
		a jamie.thorburn@sickkids.ca

p: b Anca Vlasin, Grant Accountant 
ul 
	li Room: 5401, Black Wing
	li Telephone: 28124
	li email: 
		a anca.vlasin@sickkids.ca

p: b Maternity Leave
ul
	li Mary Chelliah, Junior Grant Accountant
	li Nella Valente, Grant Accountant

h5 Fax number

p Unless otherwise indicated, our fax number is 7243.