h4#header1 About
p GMO is responsible for overseeing all grants management related activities, such as compliance with Hospital and granting agencies' policies, educating and informing Research Institute leadership on new regulations of granting agencies, recommending or updating institutional policies or procedures to ensure compliance with granting agencies' policies and regulations, managing funded research agreements, communicating funding opportunities to SickKids researchers and managing the grant approval process. GMO is also responsible for overseeing the fiduciary and financial management of all externally funded research grants, (excluding  a(href='#') GRIA - Government Research Infrastructure Awards), which equates to approximately $75 million annually and roughly 2,000 cost centres.
.well
	p: h4 Patient Care Funds

	| The GMO does not manage patient care funds. If you need assistance with those funds please contact Sandra adshaw, Director of Finance - Patient Care, ext. 8374.		

h4#header2 Our Services
h5 Services and activities - Grant application stage

h6 Consulting and compliance
ul
	li Provides advice on the internal grant approval process including internal peer review
	li Provides advice on budget preparation (for clinical studies, please consult with the Clinical Research Office)
	li Provides advice and information on granting agencies' guidelines/policies (e.g. progress reports, leave of absence, termination, use of grant funds) and application forms
	li Provides advice on transfer process for grants and awards from one institution to another
	li Ensures compliance with granting agency policies
	li Liases/corresponds with internal and external researchers, support staff, representatives from granting agencies and collaborating institutions
	li Coordinates institutional signatures for external research grant and award applications
	li Assigns department ID numbers (cost centres)
	li Manages the Research Institute New Ideas Competition
	li Manages research funded agreements
	li Manages database and provide funding information for external grants and awards

a.anchor.pull-right(href='#') Return to top 
i.icon-circle-arrow-up
h4 Services and activities - Post-award stage
ul
	li Consulting and compliance
	li Provides financial forecast of available funds
	li Produces variance analysis of funds (budget versus actual)
	li Provides fund consultations and business planning

h5 Compliance
ul
	li Prepares financial statements/statements of accounts to granting agencies
	li Prepares documentation/reconciliation for financial audits of grants
	li Ensures compliance with granting agency policies
	li Liases/corresponds with granting agencies
	li Prepares month-end management reports
li.divider
h5 Accounting
ul
	li Transfers of expenses between grants
	li Overhead income allocations
	li Prepares invoices for recoveries (ie.Heart & Stroke, NIH subcontracts, etc)
	li Processes internal billings (ie. Lab Animal Services)
	li Closing Grants (ensuring payroll charges, VISA cards, etc have been transferred when grant ends)
	li Credit card terminal for research funds (used by facilities instead of external invoicing) 
	li Deposits research cheques

h5 Inquiries
ul
	li Verifies fund balances/expense inquiries
	li Accounts receivable collections and inquiries
	li Check deposit inquiries
	li Assists in providing the proper contact person in non-research financial services queries
	li Processes billings through credit card terminal

h4#header3 Who is my Grant Accountant?
hr
p To better assist you in locating your assigned Grant Accountant, please utilize the following Acrobat file. Each Principal Investigator is listed alphabetically on the left hand side followed by their respective Grant Accountant on the right hand side.
| If you require assistance with a government grant, please contact your project accountant or business analyst listed on the contacts page of the Government Research Infrastructure Awards (GRIA) home page.
***Download File***

a.anchor.pull-right(href='#') Return to top 
i.icon-circle-arrow-up
h4#header4 Grants Opportunities and Deadlines
hr
.well
p The The information available on this page is not a comprehensive listing of current funding opportunities. To search for a more comprehensive listing of funding opportunities, please visit the following websites: University of Toronto Finding Funding, Community of Science or relevant granting agency. On the right of this page are quick links to these resources.
p 	
h5 IPO Funding Opportunity: FedDev Ontario ARC Initiative Extention
p A $15M commercialization funding opportunity entitled the Applied Research and Commercialization Extension Initiative through FedDev Ontario has just been announced. a(href='#') more information 
em Deadline: May 7, 2012

h5 Autism Speaks - RFA release
The Autism Speaks Science Grants Department is pleased to announce the release of new Request for Applications. Application deadlines range from January to May 2012. more information 
em Deadline: May 10, 2012

h5 Gates Foundation grant opportunities (Grand Challenges Explorations)
p The Bill & Melinda Gates Foundation is inviting innovators to apply for two grant opportunities, Treat Challenges Explorations and HIV Diagnostics. The deadline for Grand Challenges Explorations is May 15. more information 
em Deadline: May 15, 2012

h5 Gates Foundation grant opportunities (HIV Diagnostics)
p The Bill & Melinda Gates Foundation is inviting innovators to apply for two grant opportunities, Treat Challenges Explorations and HIV Diagnostics. The deadline for HIV Diagnostics is May 18. more information 
em Deadline: May 18, 2012

h5 2012 SPARK program
p OGI is pleased to announce the launch of its 2012 SPARK program for high-impact, high-risk, early-stage technology development projects in the Genomic Sciences. more information 
em Deadline: May 21, 2012
h5
Bill & Melinda Gates Foundation: Innovators in Vaccine Delivery Wanted
p The Bill & Melinda Gates Foundation is pleased to announce that we are now accepting nominations for the second annual Gates Vaccine Innovation Award to celeate and spur transformative ideas for achieving impact through immunization. more information 
em Deadline: August 31, 2012
h5 Bayer Grant Opportunity
p Bayer HealthCare Pharmaceuticals intends to support collaborative research projects on attractive, novel molecular targets in the fields of oncology, cardiology, gynecology and hematology. more information 
em Deadline: September 30, 2012

include ../../patterns/mixin

mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial Services', page:'financial'}, {title: 'Grants Management'}])
.pull-right
mixin share()

mixin pageTitle("Grants Management", false)
.row
.span8
.subnav
ul.nav.nav-pills
li: a.anchor(href='#header1') About
li: a.anchor(href='#header2') Services
li: a.anchor(href='#WhoIsMyGrantAccountant') My Grant Accountant
li: a.anchor(href='#GrantsOppsandDeadlines') Opportunities/Deadlines
li.dropdown: a.dd-toggle(href='#grantsapprovalprocess') Approval Process »
	ul.dropdown-menu
		li: a The Steps
		li: a Internal Peer Review Process
		li: a Tips to speed things up
		li: a RTC Approval
		li: a Special Approvals
		li: a Resources/Tools

h4#header1 About
p GMO is responsible for overseeing all grants management related activities, such as compliance with Hospital and granting agencies' policies, educating and informing Research Institute leadership on new regulations of granting agencies, recommending or updating institutional policies or procedures to ensure compliance with granting agencies' policies and regulations, managing funded research agreements, communicating funding opportunities to SickKids researchers and managing the grant approval process. GMO is also responsible for overseeing the fiduciary and financial management of all externally funded research grants, (excluding  a(href='#') GRIA - Government Research Infrastructure Awards), which equates to approximately $75 million annually and roughly 2,000 cost centres.
.well
p: h4 Patient Care Funds
br 
| The GMO does not manage patient care funds. If you need assistance with those funds please contact Sandra Bradshaw, Director of Finance - Patient Care, ext. 8374.		
//- 
//- h4#header2 Our Services
//- h5 Services and activities - Grant application stage
//- br
//- h6 Consulting and compliance
//- ul
//- li Provides advice on the internal grant approval process including internal peer review
//- li Provides advice on budget preparation (for clinical studies, please consult with the Clinical Research Office)
//- li Provides advice and information on granting agencies' guidelines/policies (e.g. progress reports, leave of absence, termination, use of grant funds) and application forms
//- li Provides advice on transfer process for grants and awards from one institution to another
//- li Ensures compliance with granting agency policies
//- li Liases/corresponds with internal and external researchers, support staff, representatives from granting agencies and collaborating institutions
//- li Coordinates institutional signatures for external research grant and award applications
//- li Assigns department ID numbers (cost centres)
//- li Manages the Research Institute New Ideas Competition
//- li Manages research funded agreements
//- li Manages database and provide funding information for external grants and awards
//- 
//- a.anchor.pull-right(href='#') Return to top
//- i.icon-circle-arrow-up
//- h4 Services and activities - Post-award stage
//- ul
//- li Consulting and compliance
//- li Provides financial forecast of available funds
//- li Produces variance analysis of funds (budget versus actual)
//- li Provides fund consultations and business planning
//- 
//- h5 Compliance
//- ul
//- li Prepares financial statements/statements of accounts to granting agencies
//- li Prepares documentation/reconciliation for financial audits of grants
//- li Ensures compliance with granting agency policies
//- li Liases/corresponds with granting agencies
//- li Prepares month-end management reports
//- li.divider
//- h5 Accounting
//- ul
//- li Transfers of expenses between grants
//- li Overhead income allocations
//- li Prepares invoices for recoveries (ie.Heart & Stroke, NIH subcontracts, etc)
//- li Processes internal billings (ie. Lab Animal Services)
//- li Closing Grants (ensuring payroll charges, VISA cards, etc have been transferred when grant ends)
//- li Credit card terminal for research funds (used by facilities instead of external invoicing) 
//- li Deposits research cheques
//- 
//- h5 Inquiries
//- ul
//- li Verifies fund balances/expense inquiries
//- li Accounts receivable collections and inquiries
//- li Check deposit inquiries
//- li Assists in providing the proper contact person in non-research financial services queries
//- li Processes billings through credit card terminal
//- br
//- h4#WhoIsMyGrantAccountant Who is my Grant Accountant?
//- hr
//- p To better assist you in locating your assigned Grant Accountant, please utilize the following Acrobat file. Each Principal Investigator is listed alphabetically on the left hand side followed by their respective Grant Accountant on the right hand side.
//- | If you require assistance with a government grant, please contact your project accountant or business analyst listed on the contacts page of the Government Research Infrastructure Awards (GRIA) home page.
//- ***Download File***
//- br
//- h4#GrantsOppsandDeadlines Grants Opportunities and Deadlines
//- hr
//- .well
//- p The The information available on this page is not a comprehensive listing of current funding opportunities. To search for a more comprehensive listing of funding opportunities, please visit the following websites: University of Toronto Finding Funding, Community of Science or relevant granting agency. On the right of this page are quick links to these resources.
//- p 	
//- h5 IPO Funding Opportunity: FedDev Ontario ARC Initiative Extention
//- p A $15M commercialization funding opportunity entitled the Applied Research and Commercialization Extension Initiative through FedDev Ontario has just been announced. a(href='#') more information 
//- em Deadline: May 7, 2012
//- br
//- h5 Autism Speaks - RFA release
//- The Autism Speaks Science Grants Department is pleased to announce the release of new Request for Applications. Application deadlines range from January to May 2012. more information 
//- em Deadline: May 10, 2012
//- br
//- h5 Gates Foundation grant opportunities (Grand Challenges Explorations)
//- p The Bill & Melinda Gates Foundation is inviting innovators to apply for two grant opportunities, Treat Challenges Explorations and HIV Diagnostics. The deadline for Grand Challenges Explorations is May 15. more information 
//- em Deadline: May 15, 2012
//- br
//- h5 Gates Foundation grant opportunities (HIV Diagnostics)
//- p The Bill & Melinda Gates Foundation is inviting innovators to apply for two grant opportunities, Treat Challenges Explorations and HIV Diagnostics. The deadline for HIV Diagnostics is May 18. more information 
//- em Deadline: May 18, 2012
//- br
//- h5 2012 SPARK program
//- p OGI is pleased to announce the launch of its 2012 SPARK program for high-impact, high-risk, early-stage technology development projects in the Genomic Sciences. more information 
//- em Deadline: May 21, 2012
//- h5
//- Bill & Melinda Gates Foundation: Innovators in Vaccine Delivery Wanted
//- p The Bill & Melinda Gates Foundation is pleased to announce that we are now accepting nominations for the second annual Gates Vaccine Innovation Award to celebrate and spur transformative ideas for achieving impact through immunization. more information 
//- em Deadline: August 31, 2012
//- h5 Bayer Grant Opportunity
//- p Bayer HealthCare Pharmaceuticals intends to support collaborative research projects on attractive, novel molecular targets in the fields of oncology, cardiology, gynecology and hematology. more information 
//- em Deadline: September 30, 2012
//- 
//- #frequentlyrequestedinformation Frequently Requested Information 
//- p The following is a list of frequently requested information required by research granting agencies (domestic or foreign) and/or collaborating institutions in the preparation of a research grant application.
//- 
//- Contact GMO staff with any inquiries or for any required information not provided in this document.
//- ul
//- li	Marisol Nurse at ext. 2255 (for researchers’ last names A-L)
//- li Gisele Guimaraes at ext. 4491 (for researchers’ last names M-Z)
//- td
//- tr	Applicant Organization:	
//- tr	The Hospital for Sick Children
//- 555 University Avenue
//- Toronto, Ontario
//- Canada M5G 1X8
//- td		
//- tr	Type of Organization	
//- tr	Public, non-profit
//- td
//- tr	SickKids Principal Investigator and Co-Principal Investigator	
//- tr  Applicant
//- 	em	Applicant must hold or be eligible to hold a Research Institute scientific appointment
//- td
//- tr	Business Number (Canadian Registered Charity)	107492928RR0001
//- tr	The Business Number is assigned by the Canada Revenue Agency (CRA) to a qualifying organization as a registered charity. CRA consolidated the Corporate number, GST number, DAS number, and charitable number into one Business Number.
//- td
//- tr	Entity Identification No. (EIN):	
//- tr	1-900002827-A1
//- em	The Entity Identification Number is assigned by the Department of Health and Human Services ( USFederal agency) for payment and accounting purposes
//- td
//- tr	Tax or Employer Identification Number (TIN/EIN) (US Federal grants):
//- tr	98-0342195
//- em	The Tax Identification Number is assigned by the Internal Revenue Service (IRS). The IRS uses the number to identify taxpayers that are required to file various business tax returns.
//- td
//- tr 	DUNS Number (US Federal grants)	
//- tr 	208511808
//- em 	Effective October 1, 2003, use of the Dun and Bradstreet (D&B) Data Universal Numbering System (DUNS) number will be required when applying for US Federal grants or cooperative agreements.
//- td
//- tr 	Institutional Profile Number (US Federal grants)
//- tr	3445201
//- td
//- tr 	NCAGE Code (NATO Commercial and Government Entity)	
//- tr 	L1176
//- The NCAGE Code Number is assigned by the National Defense. The Codes are used extensively in various procurement, codification and logistics functions throughout the Federal Government as well as by over 20 countries worldwide. One of its’ primary purposes is to identify potential sources of supply for items being acquired by the military forces of these countries.
//- td
//- tr	Authorized organization representative and official signing for applicant organization (1)	
//- tr	Dr. Janet Rossant
//- Chief of Research 
//- Director, Research Institute 
//- The Hospital for Sick Children 
//- 555 University Avenue 
//- Toronto, Ontario Canada M5G 1X8 
//- Phone: (416) 813-6577, Fax: (416) 813-5085
//- E-mail: janet.rossant@sickkids.ca
//- td
//- tr	Financial Officer (authorized official signing for applicant organization) (1)	
//- tr	Ms. Susan Malench
//- Finance Director, Research Operations
//- The Hospital for Sick Children
//- 555 University Avenue
//- Toronto, Ontario Canada M5G 1X8
//- Phone: (416) 813-8089, Fax: (416) 813-7243
//- E-mail: Susan.Malench@sickkids.ca
//- td
//- tr	Administrative officer to be notified when an award is made (1)	Ms. Rebbie Pamintuan
//- tr	Manager, Grants Management Office
//- Research Institute
//- The Hospital for Sick Children
//- 555 University Avenue
//- Toronto, Ontario Canada M5G 1X8
//- Phone: (416) 813-6895, Fax : (416) 813-5085 
//- E-mail : Rebbie.Pamintuan@sickkids.ca
//- td
//- 	tr	Fringe Benefits Rates	
//- 	tr	Full time faculty/staff positions (individuals entitled to full benefits including pension): 22% - Job Class: F, B;	
//- 		| Full time post-doctoral fellows and staff with modified benefits (benefits does not include pension): 13% - Job Class: R;
//- 		| Staff not entitled to benefits except for legislation (i.e. EI, CPP, etc), including research students: 10% - Job Class: C, P, S, Y1;
//- 		| Graduate students: 0% - Job Class: Y (Students stipends are considered training awards as defined by Section 56(1)(n) of The Income Tax Act).
//- 
//- h5 Note: 
//- em Follow the research granting agency's guidelines for exceptions. Inquiries concerning fringe benefits may be directed to Human Resource Services.
//- td
//- 	tr	Inflation Factor
//- 	tr	Remember to incorporate an inflation factor in your budget preparation when additional years of support are being requested. A standard 3% across the board for salaries, supplies, travel, other expenses, etc. is recommended
//- h5 Note: 
//- em NIH no longer allows cost of living/inflationary increases.
//- td
//- 	tr	Glasswashing Rates
//- 	tr	Your budget proposal must include glasswashing charges where appropriate. The rate is $76.00/monthly per person.
//- td
//- 	tr	Facilities and Administrative Cost Rate Agreement (US Federal grants)
//- 	tr	NIH Grants Policy Statement
//- 		| Date of Statement: October 2011
//- 		em Effective for all NIH grants and cooperative agreements with budget periods beginning on or after October 1, 2011.
//- 
//- td
//- 	tr	Human Subjects Assurance Number (US Federal grants)	
//- 	tr	Human Subjects Assurance Number (US Federal grants)
//- 		| FWA00000281
//- 		| Expiration Date: April 14 2014
//- 		| Organization number: 0000643
//- 		| IRB numbers: IRB#1 (Panel A) - 0000983 and IRB#2 (Panel B) - 0007529
//- 		| a(href='#') Ethics Training Program »»
//- 	  | 
//- 		| REB review is generally conducted following submission and approval. Check with the granting agency or review the guidelines for the submission deadline for REB approval notification
//- 
//- td
//- 	tr	Animal Welfare Assurance Number (US Federal grants)	
//- 	tr #A5047-01 Effective Date: January 9, 2008 Expiration Date: January 31, 2013
//- td
//- 	tr 	Facilities and Administrative Cost Rate Agreement (US Federal grants)
//- 	tr	NIH Grants Policy Statement Date of Statement: December 2003 Effective for all NIH grants and cooperative agreements with budget periods beginning on or after December 1, 2003.
//- 
//- td
//- 	tr	Salary Cap (US Federal grants)
//- 	tr	 NIH PI salary cap reduced to $179,700 USD for all new applications and all grants awarded on/after Dec. 23, 2011. (Executive Level II of the Federal Pay Scale)
//- 	tr a(href'#') Full details: http://grants.nih.gov/grants/guide/notice-files/NOT-OD-12-035.html
//- td
//- 	tr	Foreign Exchange Rate	
//- 	tr	Contact the Grants Management Office for the current rate.
//- td
//- 	tr	Indirect Cost Rate
//- 	tr	Use the maximum rate established by the research granting agency.
//- td
//- 	tr	NIH Facilities and Administrative (F&A) Rate
//- 	tr	8% of direct costs, less equipment
//- td
//- 	tr	eRA Commons (NIH)
//- 	tr	SickKids is a registered institution. If you intend to submit a grant proposal to the NIH, the main applicant must first register in the NIH eRA Commons at least two weeks in advance. To register, send your new eRA account request to Rebbie Pamintuan via e-mail at a(href'#') rebbie.pamintuan@sickkids.ca at GMO. For more information, visit the GMO intranet page - NIH Guidelines
//- td
//- 	tr	Granting agencies or collaborating institutions' cheques should be made payable to
//- 	tr	The Hospital for Sick Children, Research Institute
//- td
//- 	tr	Send cheques to the attention of (1)
//- 	tr	 Jennifer Azevedo-Young
//- 		| Controller, GMO
//- 		| Research Awards and Financial Services
//- 		| The Hospital for Sick Children
//- 		| 555 University Avenue
//- 		| Toronto, Ontario Canada M5G 1X8 
//- 		| Phone: (416) 813-7684, Fax: (416) 813-7243
//- 		| E-mail: jennifer.azevedo-young@sickkids.ca
//- td
//- 	tr	Purchasing Information
//- 	tr	Contact: Mr. Rick Briltz 
//- 		| Purchasing Agent, Purchasing 
//- 		| Materials Management 
//- 		| The Hospital for Sick Children 
//- 		| 180 Dundas W., Room 420 
//- 		| Phone: (416) 813-7063, Fax: (416) 813-7095
//- 		| E-mail: Rick.Briltz@sickkids.ca
//- 
//- p Tax Summary — Transition from GST/PST to HST
//- .well Notes: (1)The requirements may differ for applications to the Canada Foundation for Innovation, Genome Canada, Ontario Research Fund, Canada Research Chairs. Please contact Treacey Sheehan (ext. 2228) or Belinda Potter (ext. 7431), GRIA, for instructions.
//- 
//- p	Please provide a final copy of your research grant application to GMO, room 5252, Black Wing. For electronic submissions, provide a PDF copy including letters of collaboration and support and hard copies of the signature page. For applications available in paper copy only, provide title page, summary of project, signature page, budget and justification pages and letters of collaboration and support. Applicant must retain and file a complete copy of the research grant application. For a funded research grant application, GMO file must contain a complete copy of the application (excluding CVs and appendices) prior to the release of a new research account.			

	.span3
		include ../financial/links