include ../../patterns/mixin

mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial Services', page:'financial'}, {title: 'Grants Management'}])
.pull-right
	mixin share()

mixin pageTitle("Grants Management", false)
.row
	.span8
		.subnav#subnav
			ul.nav.nav-pills
				li: a.anchor(href='#header1') About
				li: a.anchor(href='#header2') Services
				li: a.anchor(href='#header3') My Grant Accountant
				li: a.anchor(href='#header4') Opportunities/Deadlines
				li.dropdown: a.dd-toggle(href='#grantsapprovalprocess') Approval Process »
					ul.dropdown-menu
						li: a The Steps
						li: a Internal Peer Review Process
						li: a Tips to speed things up
						li: a RTC Approval
						li: a Special Approvals
						li: a Resources/Tools
		include content
	.span2
//		include ../financial/links