include ../../patterns/mixin

//mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial Services', page:'financial'}, {title: 'Grants Management'}])
.pull-right
	mixin share()

mixin pageTitle("Grants Management Office (GMO)", false)
.row
	.span8
		.subnav#subnav
			ul.nav.nav-pills
				li: a.anchor(href='#header1') Our Services
				li: a.anchor(href='#header2') Upcoming Grants & Deadlines
				li: a.anchor(href='#header3') Resources & Links
				li: a.anchor(href='#header4') Important Contacts
		include content
	.span2
		include ../financial/links