include ../../patterns/mixin

//mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial Services', page:'financial'}, {title: 'Grants Management'}])

mixin pageTitle("Grants Management Office (GMO)")
.row
	.span8
		.subnav#subnav
			ul.nav.nav-pills
				li: a(href='#header1') Our Services
				li: a(href='#header2') Upcoming Grants & Deadlines
				li: a(href='#header3') Resources & Links
				li: a(href='#header4') Important Contacts
		.page-content
			include content
	.span2
		include ../financial/links