include ../../patterns/mixin.jade

h4 Links

- var links = {title: 'RI Policies', items: [{title: 'Travel and Expense Reimursement', address: '#'}, {title: 'Procurement of Goods and Services', address: '#'},{title: 'Enterprise Chargeback Policy', address: '#'},{title: 'Approval to Submit Research Grants and Aaward', address: '#'},{title: 'Hospital Signing Authority', address: '#'},{title: 'See More...', address: '#'}]}

mixin linkList(links)

- var tools = {title: 'Grants Manaagement Office', items: [{title: 'CIHR Tips', address: '#'}, {title: 'NIH Grant-Writing Tips Sheets', address: '#'},{title: 'CIHR - Financial Accountability in Research', address: '#'},{title: 'CIHR Grantscraft', address: '#'},{title: 'NI - Administration of Clinical Trials at NIDDK', address: '#'},{title: 'Research Grant Application Checklist', address: '#'}]}

mixin linkList(tools)

- var groups = {title: 'Forms & Tools', items: [{title: 'Research Grant Application Checklist (.doc)', address: '#'}, {title: 'Research Grant Application Checklist (.pdf)', address: '#'},{title: 'Guidelines for completion (.pdf)', address: '#'},{title: 'Notice of Application Form (.pdf)', address: '#'}]}

mixin linkList(groups)