include ../../patterns/mixin
//mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial'}])
mixin pageTitle("Financial Services", false)
.row
	.span8
		h3 About Us
		p Research Awards and Financial Services (RA&FS) is an important resource for researchers and research trainees who wish to apply for external grants and awards. The RA&FS staff can help identify funding resources, assist with the development of applications (including budget preparation) and help obtain institutional sign-off prior to grant submission.
		ul
			li Research Awards and Financial Services consists of four divisions:
			li Grants Management Office
			li GRIA (Government Research Infrastructure Awards)
			li Financial Planning & Analysis
			li Financial Operations

		p Each division is designed to meet the different needs within the Research Institute. For a detailed description of the various divisions, and the many services that we offer, we welcome you to browse our site.

	.span3
		include links