include ../../patterns/mixin
//mixin breadcrumb([{title:'Research', page:'research'}, {title: 'Financial'}])
mixin pageTitle("Financial Services", false)
.row
	.span8
		hr
		h3 About Us
		p Research Awards and Financial Services (RA&FS) is an important resource for researchers and research trainees who wish to apply for external grants and awards. The RA&FS staff can help identify funding resources, assist with the development of applications (including budget preparation) and help obtain institutional sign-off prior to grant submission.
		ul
			li Research Awards and Financial Services consists of four divisions:
			li Grants Management Office
			li GRIA (Government Research Infrastructure Awards)
			li Financial Planning & Analysis
			li Financial Operations

		p Each division is designed to meet the different needs within the Research Institute. For a detailed description of the various divisions, and the many services that we offer, we welcome you to browse our site.
		br
		hr
		h3 Our Services
		p: h6 Consulting
		ul
			li Financial Forecast of Available Funds
			li Variance Analysis of Funds (Budget vs. Actual)
			li Fund Consultations and Business Planning
		p: h6 Compliance
		ul
			li Preparing infrastructure budgets
			li Preparing Financial Statements/Statements of Accounts to Granting Agencies
			li Preparing documentation/reconciliation for financial audits of grants
			li Ensuring Compliance with Granting Agency Policies
			li Liasing/corresponding with Granting Agencies
			li Research Operating Plan
			li Research Annual Report
			li Monthend Management Reports
		p: h6 Accounting
		ul
			li Transfers of Expenses between grants
			li Overhead income allocations
			li Preparing Invoices for recoveries (ie.Heart & Stroke, NIH subcontracts, etc)
			li Processing Internal Billings (ie. Lab Animal Services)
			li Closing Grants (ensuring payroll charges, VISA cards, etc have been transferred when grant ends)
			li Credit Card Terminal for Research Funds (used by facilities instead of external invoicing)
			li Depositing research cheques
		p: h6 Inquiries
		ul
			li Verifying Fund Balances/expense inquiries
			li Accounts Receivable collections and inquiries
			li Check deposit inquiries
			li Assisting in providing the proper contact person in non-Research Financial Services queries.
			li Process billings through credit card terminal
		hr
		.well
			P: h5 *PATIENT CARE FUNDS*
			Research Financial Servicess does not manage patient care funds. If you need assistance with those funds please contact Sandra Bradshaw, Director of Finance - Patient Care, ext. 8374.

	.span3
		include links