include ../../patterns/mixin.jade

.row
	.span12.well
		h3: a(href='#') Our Strategy for the New Year
		em By Mary Jo Haddad on April 19, 2012
		br
		img.pull-left(src='http://placehold.it/200x200')
		p.ipsum(length='1000', para='3')
		hr.clear-fix
		mixin comment()
		br
		i.icon-thumbs-up(type='Favourite')