- var Links =[ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];


- var Tools = [ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];


- var Groups = [ {title: 'test', address: 'test'}, {title: 'test', address: 'test'} , {title: 'test', address: 'test'}, {title: 'test', address: 'test'}];



ul.nav.nav-list

	li: h4 More Posts

	li.nav-header Recent Posts
	- each tool in Tools
		li
			a(href='#') post.title
			
	li.nav-header Post by Category
	- each tool in Tools
		li
			a(href='#') category.title