include ../../patterns/mixin.jade

h4 More Posts

- var recent = {title: 'Recent Posts', items: [{title: 'Towering over Bay and Elm, SickKids...', address: '#'}, {title: 'Being healthy at work...', address: '#'},{title: 'Our presentation this week was about...', address: '#'},{title: 'Congratulations to the Nursing Centre...', address: '#'},{title: 'Ideas that make cents: what we...', address: '#'},{title: 'Listening to your voice...', address: '#'}]}

mixin linkList(recent)

- var cats = {title: 'Categories', items: [{title: 'Innovation', address: '#'}, {title: 'Staff Engagement', address: '#'},{title: 'SickKids Centre for Research & Learning', address: '#'},{title: 'Safety & Training', address: '#'},{title: 'Financial Health', address: '#'},{title: 'Patient Support', address: '#'}]}

mixin linkList(cats)
