include ../../patterns/mixin.jade

h4 More Posts

- var recent = {title: 'Recent Posts', items: [{title: 'Towering over Bay and Elm, SickKids...', address: '#'}, {title: 'Being healthy at work...', address: '#'},{title: 'Our presentation this week was about...', address: '#'},{title: 'Congratulations to the Nursing Centre...', address: '#'},{title: 'Ideas that make cents: what we...', address: '#'},{title: 'Listening to your voice...', address: '#'}]}

mixin linkList(recent)

- var cats = {title: 'Categories', items: [{title: 'Innovation (8)', address: '#'}, {title: 'Staff Engagement (2)', address: '#'},{title: 'Centre for Research & Learning (3)', address: '#'},{title: 'Safety & Training (4)', address: '#'},{title: 'Financial Health (2)', address: '#'},{title: 'Patient Support(1)', address: '#'}]}

mixin linkList(cats)
