include ../../patterns/mixin.jade

h4 More Posts

- var recent = {title: 'Recent Posts', items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(recent)

- var cats = {title: 'Categories', items: [{title: 'Link', address: '#'}, {title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'},{title: 'Link', address: '#'}]}

mixin linkList(cats)
