- var Stories =[ {title: 'SickKids in the news!', address: 'test'}, {title: 'Testing this out', address: 'test'} , {title: 'tons of cars', address: 'test'}, {title: 'test', address: 'test'}];

h2 Mary Jo's Message
.row-fluid
	.span12.well
		h3: a(href='#') What is Innovation at SickKids?
		em By Mary Jo Haddad on April 19, 2012
		p.ipsum(length='1000', para='3')
		btn.btn.btn-mini(type='Comment') Comment
		br
		i.icon-thumbs-up(type='Favourite')
		
		
		
