include ../../patterns/mixin.jade
mixin pageTitle("Mary Jo's Message")

.row
	.span8
		.row
			.span8
				.well
					.post
						h3: a(href='blogPost') What is Innovation at SickKids?
						p.post-meta By Mary Jo Haddad on April 19, 2012
						p.ipsum(length='500', para='3')
						a(href="/blogPost") Continue reading

				.well
					.post
						h3: a(href='blogPost') Our Strategy for the New Year
						p.post-meta By Mary Jo Haddad on April 17, 2012
						img.content.pull-left(src='http://placehold.it/200x200')
						p.ipsum(length='500', para='3')
						a(href="/blogPost") Continue reading
				.well
					.post
						h3: a(href='blogPost') The ways in which we care
						p.post-meta By Mary Jo Haddad on April 15, 2012
						p.ipsum(length='500', para='3')
						a(href="/blogPost") Continue reading
				.well
					.post
						h3: a(href='blogPost') Conversations with nurses
						p.post-meta By Mary Jo Haddad on April 13, 2012
						p.ipsum(length='500', para='3')
						a(href="/blogPost") Continue reading
				.well
					.post
						h3: a(href='blogPost') SickKids and an international community
						p.post-meta By Mary Jo Haddad on April 11, 2012
						img.content.pull-left(src='http://placehold.it/200x200')
						p.ipsum(length='500', para='3')
						a(href="/blogPost") Continue reading

				.well
					.post
						h3: a(href='blogPost') A New SickKids
						p.post-meta By Mary Jo Haddad on April 9, 2012
						img.content.pull-left(src='http://placehold.it/200x200')
						p.ipsum(length='500', para='3')
						a(href="/blogPost") Continue reading

	.span2
		include links